// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

html,
body,
main {
  margin: 0;
}

body {
  background-color: #f7f7f7;
  color: $black;
  font-size: 15px;
  line-height: 1.5;
  &.opened-menu {
    overflow: hidden;
  }
}



/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}



img {
  max-width: 100%;
}

.flex {
  display: flex;
  &_ai-center {
    align-items: center;
  }
  &_all-center {
    justify-content: center;
    align-items: center;
  }
}

.btn-reset {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  max-width: 100%;
  font-size: 16px;
  font-weight: 500;
  border-radius: 7px;
  transition: background-color $trns;
  &_blue {
    color: #fff;
    background-color: $blue-signal;
    border: 1px solid $blue-signal;
    &:hover {
      background-color: $blue-signal-active;
      color: #fff;
    }
  }
  &_trnsp {
    color: $grey-5;
    border: 1px solid $blue-signal;
    gap: 0 10px;
    &:hover {
      background-color: $blue-light-hover;
    }
  }
  &_grey {
    color: $grey-4;
    background-color: $grey-2;
    gap: 0 10px;
    &:hover {
      background-color: $grey-2-5;
    }
  }
  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
  }
}

.tabs {
  &__content {
    display: none;
    &.is-active {
      display: block;
    }
  }
}

.lnk {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.desktop-hidden {
  @include rmin(768) {
    display: none;
  }
}
.mobile-hidden {
  @include r(768) {
    display: none;
  }
}

.section {
  margin-bottom: 60px;
}

.row-gap {
  gap: 30px 0;
}

.title-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0 5px;
  margin-bottom: 20px;
  line-height: 1;
  font-weight: 500;
  transition: color $trns;
  &:hover {
    color: $grey-4;
    svg {
      stroke:$grey-4 ;
    }
  }
  svg {
    stroke: #1c1c1c;
    stroke-width: 2;
    transition: stroke $trns;
  }
}

.slider-navigation {
  position: absolute;
  top: 45%;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include r(600) {
    top: 55%;
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.35);
    border-radius: 50%;
    &.swiper-button-disabled {
      pointer-events: auto;
    }
    &_prev {
      margin-left: -20px;
      @include r(1280) {
        margin-left: -15px;
      }
    }
    &_next {
      margin-right: 35px;
      @include r(1024) {
        margin-right: 15px;
      }
    }
    svg {
      stroke: $grey-4;
      stroke-width: 2;
    }
  }
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: none;
}
