.breadcrumb {
  background-color: transparent;
  border-bottom: none;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 30px;
  &-item {
    font-size: 14px;
    color: $grey-4;
    line-height: 1.2;
    &.active {
      color: $grey-4;
    }
    &::before {
      color: $grey-4;
    }
  }
}
