.category {
  &__mb {
    margin-bottom: 40px;
  }
  &__wrapper {
    display: flex;
    gap: 0 30px;
    justify-content: space-between;
    @include r(1280) {
      gap: 0 12px;
    }
    @include r(1024) {
      gap: 10px;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
  &__item {
    position: relative;
    flex: 0 0 calc((100% - 5 * 30px) / 6);
    padding: 10px;
    height: 100%;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    transition: box-shadow $trns;
    &:hover {
      box-shadow: 0px 0px 25px 6px rgba(0, 0, 0, 0.25);
    }
    @include r(1280) {
      padding: 10px 5px;
      flex: 0 0 calc((100% - 5 * 12px) / 6);
    }
    @include r(1024) {
      flex: 0 0 calc((100% - 3 * 10px) / 4);
      height: auto;
    }
    @include r(576) {
      flex: 0 0 calc((100% - 2 * 10px) / 2);
    }
  }
  &__img {
    display: block;
    margin: 0 auto 10px;
    @include r(1024) {
      max-width: 120px;
    }
  }
  &__caption {
    font-size: 14px;
    color: $grey-5;
  }
  &__text {
    p {
      margin-bottom: 10px;
      font-size: 15px;
      line-height: 1.6;
    }
  }
  &__text--link {
    display: block;
    width: max-content;
  }
}
.category-tags {
  &__heading {
    display: flex;
    align-items: center;
    gap: 0  20px;
    margin-bottom: 15px;
    @include r(576) {
      align-items: flex-end;
    }
  }
  &__title {
    color: #1c1c1c;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
  }
  &__link-all {
    font-size: 15px;
    color: $blue;
    transition: color $trns;
    @include r(576) {
      width: 58%;
      text-align: right;
    }
    &:hover {
      color: $blue-2-hover;
    }
  }
  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px 20px;
    max-height: 60px;
    overflow: hidden;
    transition: all $trns;
    &.is-open {
      max-height: 500px;
      transition: all $trns;
    }
  }
  &__item {
    font-size: 15px;
    color: $grey-5;
    transition: color $trns;
    flex: 0 0 70px;
    max-width: 70px;
    &:hover {
      color: $grey-4;
    }
  }
}
.sorting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  @include r(1279) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px 0;
  }
  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include r(1279) {
      justify-content: space-between;
      width: 100%;
    }
    @include r(576) {
      display: none;
    }
  }
  &__left {
    display: flex;
    gap: 20px;
    @include r(1279) {
      order: 2;
    }
    @include r(768) {
      flex-wrap: wrap;
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 10px;
    border-radius: 999px;
    background-color: #fff;
    font-size: 14px;
    color: #1c1c1c;
    width: 208px;
    height: 44px;
    transition: color $trns;
    &_filter {
      width: 126px;
      display: none;
      @include r(960) {
        display: flex;
      }
      @include r(768) {
        order: 2;
      }
    }
    &_sort {
      @include r(960) {
        order: 3;
      }
    }
    &_popular {
      display: none;
      width: 175px;
      @include r(960) {
        display: flex;
      }
    }
    &:hover {
      color: $grey-5;
    }
    svg {
      transition: transform $trns;
    }
    &.is-active {
      svg {
        transform: rotate(180deg);
      }
    }

  }
  &__count {
    margin-right: 40px;
    font-size: 15px;
    color: $grey-5;
    @include r(1279) {
      margin-right: 0;
    }
    span {
      font-weight: 700;
    }
  }
  .select2-container--default .select2-selection--single {
    border: none;
    height: 44px;
    border-radius: 999px;
    padding: 10px 24px;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    display: none;
  }
  .select2-container--default.select2-container--open .select2-selection--single {
    border-radius: 0;
    border: 1px solid #ebebeb;
  }
  .select2-container .select2-selection--single::before {
    content: "";
    position: absolute;
    top: 12px;
    right: 17px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_193_64826)'%3E%3Cpath d='M7 10L12 15L17 10' stroke='%231C1C1C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_193_64826'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
 .select2-container--open .select2-selection--single::before {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

}
.catalog-switcher {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 999px;
  background-color: $grey-2;
  margin-left: 30px;
  @include r(1279) {
    margin-left: 0;
  }
  &__btn {
    position: relative;
    z-index: 10;
    flex: 0 0 50%;
    padding: 5px 15px;
    max-width: 50%;
    width: 50%;
    color: #fff;
    border-radius: 999px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    &:first-child.is-active ~ .catalog-switcher__label {
      left: 5px;
    }
    &:last-of-type.is-active ~ .catalog-switcher__label  {
      left: 50%;
    }
    &:focus,
    &:active {
      outline: none;
      box-shadow: none;
    }
  }
  &__label {
    position: absolute;
    top: 5px;
    width: 54px;
    height: 34px;
    border-radius: 999px;
    background-color: #fff;
    transition: left $trns;
  }
}
.catalog {
  &__list {
    gap: 30px 0;
    margin-bottom: 30px;
  }
  &_horizontal  {
    .product-card {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      align-items: stretch;
      gap: 0 25px;
      & > div {
        flex: 0 0 auto;
      }
      &__actions {
        justify-content: flex-start;
        flex-direction: row;
        opacity: 1;
        visibility: visible;
        transform: none;
        @include r(960) {}
          display: block;
      }
      &__img {
        margin: 0 0 15px;
        object-fit: contain;
        height: 100%;
      }
      &__sum {
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 8px;
      }
      &__price {
        width: 100%;
      }
      &__delivery_horizontal-show {
        display: block;
      }
      &__delivery_horizontal-hide {
        display: none;
      }
      &__request-price {
        margin-left: 0;
        span br {
          display: none;
        }
      }
      .product-card__delivery {
        height: auto;
      }
      &__mobile-bottom {
        @include r(960) {
          display: none;
        }
      }
      &__btn {
        @include r(960) {
          display: flex;
        }
      }
    }
    &--right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 30px;
    }
    .seo-card {
      &_third {
        display: none;
      }
      &__img {
        width: 100%;
      }
    }
  }
  &_vertical {
    .product-card {
      &__delivery_horizontal-show {
        display: none;
      }
    }
  }
}

.pagination {
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 5px;
    width: 100%;
  }
  &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 16px;
    font-weight: 500;
    color: $grey-5;
    transition: background-color $trns;
    border: 1px solid transparent;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 500;
    &:hover {
      background-color: #dee9ff;
    }
    &.active {
      border-color: $grey-3;
    }
  }
}

.advantages {
  overflow: hidden;
  &__item {
    text-align: center;
  }
  &__icon {
    margin-bottom: 10px;
  }
  &__caption {
    font-size: 15px;
    font-weight: 500;
    color: $grey-5;
    @include r(1024) {
      max-width: 160px;
      margin: 0 auto 15px;
    }
  }
}

.specialist {
  &__item {
    padding: 25px 20px;
    border-radius: 10px;
    background: #fff;
    @include r(768) {
      margin-bottom: 15px;
      padding: 17px 20px;
    }
  }
  &__heading {
    display: flex;
    gap: 0 45px;
    margin-bottom: 20px;
    @include r(1280) {
      flex-direction: column;
      gap: 15px 0;
    }
    @include r(576) {
      margin-top: 18px;
    }
  }
  &__question {
    font-size: 15px;
    color: $grey-5;
    flex: 0 0 auto;
    @include r(1280) {
      flex: 0 0 100%;
      margin-bottom: 15px;
      br {
        display: none;
      }
    }
    @include r(768) {
      margin-bottom: 0;
    }
    @include r(576) {
      display: none;
    }
  }
  &__contacts {
    flex: 0 0 auto;
    color: #1c1c1c;
    font-weight: 700;
    line-height: 1.2;
    span,
    a {
      margin-top: 5px;
      display: block;
      font-size: 14px;
      font-weight: 400;
    }
    span {
      color: $grey-4;
    }
    a {
      color: $blue;
    }
  }
  &__flex {
    display: flex;
    align-items: center;
    gap: 0 15px;
  }
  &__status {
    font-size: 14px;
    color: $grey-5;
    margin-bottom: 5px;
  }
  &__name {
    font-weight: 500;
    color: #1c1c1c;
  }
  &__open {
    display: none;
    margin-bottom: 0;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @include r(576) {
      display: flex;
    }
    svg {
      transform: rotate(180deg);
      transition: transform $trns;
    }
    &.collapsed svg {
      transform: rotate(0);
    }
  }
}

.callback {
  &__form {
    display: flex;
    align-items: center;
    padding: 30px 25px;
    border-radius: 10px;
    background-color: $grey-5;
    @include r(1280) {
      flex-wrap: wrap;
    }
    @include r(768) {
      align-items: flex-start;
    }
    @include r(576) {
      flex-direction: column;
      padding: 25px 15px;
    }
  }
  &__caption {
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    line-height: 1.2;
    @include r(768) {
      margin-bottom: 30px;
    }
    @include r(576) {
      margin-bottom: 20px;
      font-size: 18px;
    }
    span {
      display: block;
      font-weight: 500;
      font-size: 16px;
      @include r(576) {
        font-size: 14px;}
    }
  }
  &__left {
    flex: 0 0 33%;
    max-width: 33%;
    @include r(1280) {
      flex: 0 0 40%;
      max-width: 40%;
    }
    @include r(960) {
      flex: 0 0 50%;
      max-width: 50%;
    }
    @include r(576) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  &__group {
    display: flex;
    align-items: center;
    margin-left: auto;
    flex: 0 0 520px;
    max-width: 520px;
    margin-right: 20px;
    @include r(1280) {
      margin-right: 0;
    }
    @include r(960) {
      flex: 0 0 50%;
      max-width: 50%;
    }
    @include r(768) {
      flex-direction: column;
      max-width: 50%;
      flex: 0 0 45%;
      gap: 15px 0;
    }
    @include r(576) {
      flex: 0 0 100%;
      max-width: 100%;
      margin-left: 0;
      width: 100%;
      margin-bottom: 20px;
    }
  }
  .form__label {
    flex: 0 0 300px;
    max-width: 300px;
    margin-right: 20px;
    margin-bottom: 0;
    @include r(960) {
      flex: 0 0 55%;
      max-width: 55%;
    }
    @include r(768) {
      flex: 0 0 auto;
      max-width: 100%;
      margin-right: 0;
    }
  }
  .checkbox__label {
    flex: 0 0 250px;
    max-width: 250px;
    font-size: 14px;
    @include r(1280) {
      flex: 0 0 50%;
      max-width: 50%;
      margin-left: auto;
      margin-top: 20px;
      padding-top: 5px;
      margin-right: 60px;
      @include r(1024) {
        margin-right: 0;
      }
      @include r(768) {
        margin: 0;
        max-width: 100%;
      }
    }
    &_mob {
      display: none;
      @include r(768) {
        display: block;
      }
      @include r(576) {
        display: none;
      }
    }
    &_desk {
      @include r(768) {
        display: none;
      }
      @include r(576) {
        display: block;
      }
    }
  }
  &__input {
    height: 56px;
  }
  &__submit {
    height: 56px;
    width: 200px;
    flex: 0 0 200px;
    max-width: 200px;
    margin-bottom: 0;
    @include r(1024) {
      flex: 0 0 40%;
      max-width: 40%;
    }
    @include r(768) {
      flex: 0 0 auto;
      max-width: 100%;
      width: 100%;
    }
  }
}

.catalog-collections {
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
  }
  &__item {
    padding: 8px 20px;
    background-color: #fff;
    color: $grey-5;
    border-radius: 100px;
    font-size: 14px;
    transition: background-color $trns;
    &:hover {
      background-color: $grey-2;
    }
  }
}

.regions {
  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px 80px;
    max-height: 190px;
    @include r(1024) {
      gap: 10px 15px;
    }
    @include r(768) {
      flex-direction: row;
      max-height: none;
    }
  }
  &__item {
    flex: 0 0 auto;
    color: #1c1c1c;
    transition: color $trns;
    @include r(768) {
      flex: 0 0 23%;
    }
    @include r(576) {
      flex: 0 0 45%;
    }
    &:hover {
      color: $grey-4;
    }
  }

}

.catalog-tag-list {
  margin-bottom: 30px;
  &__hidden {
    display: none;
  }
  &__checked {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    div {
      display: inline-block;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    padding: 6px 15px 6px 20px;
    font-size: 15px;
    background-color: #fff;
    color: $grey-5;
    border-radius: 6px;
    transition: background-color $trns, color $trns;
    cursor: pointer;
    &:hover {
      background-color: $grey-2;
      color: $grey-4;
    }
  }
  &__del {
    cursor: pointer;
    padding-left: 10px;
    transition:  color $trns;
    svg {
      fill:  $grey-5;
    }
    &:hover {
      svg {
        fill:  $grey-4;
      }
    }
  }
  &__category {
    color: $grey-4;
  }
}

.seo-card {
  position: relative;
  padding-bottom: 17px;
  background-color: #fff;
  border-radius: 10px;
  transition: box-shadow $trns;
  &__img {
    display: block;
    margin-bottom: 12px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    @include r(768) {
      width: 100%;
    }
  }
  &__caption {
    display: block;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    color: $black;
    line-height: 1.5;
    transition: color $trns;
  }
  &:hover {
    box-shadow: 0px 0px 25px 6px rgba(0, 0, 0, 0.25);
    .seo-card__caption {
      color: $grey-4;
    }
  }
}

// cart
.cart {
  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__clear {
    margin-bottom: 30px;
    font-size: 15px;
    color: $blue;
    &:hover {
      color: $blueHover;
    }
  }
  &__item {
    position: relative;
    display: grid;
    grid-template-columns: 160px 5fr 3fr 2fr 1fr;
    -webkit-column-gap: 25px;
    -moz-column-gap: 25px;
    column-gap: 25px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
    padding: 32px 25px;
    background-color: #fff;
    border-radius: 10px;
    transition: box-shadow $trns;
    cursor: pointer;
    @include r(768) {
      grid-template-columns: 160px 1fr 24px;
      padding: 15px;
    }
    @include r(576) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 20px 0;
    }
    &:hover {
      box-shadow: 0px 0px 25px 6px rgba(0, 0, 0, 0.25);
    }
  }
  &__img {
    width: 160px;
    height: 96px;
    @include r(576) {
      display: none;
    }
  }
  &__title {
    color: $black;
    font-size: 16px;
    line-height: 1.5;
    @include r(576) {
      width: calc(100% - 50px);
    }
  }
  &__count {
    margin: 0 auto;
    padding: 16px 15px;
    border-radius: 7px;
    border: 1px solid var(--2---EBEBEB, #EBEBEB);
    @include r(768) {
      order: 2;
      margin-left: 40vw;
    }
    @include r(680) {
      margin-left: 0;
    }
  }
  &__price {
    @include r(768) {
      order: 3;
      margin-left: auto;
    }
  }
  &__del {
    @include r(768) {
      order: 1;
    }
  }
  &__nds {
    margin-bottom: 5px;
    font-size: 12px;
    color: $grey-5;
    line-height: 1.2;
  }
  &__sum {
    color: $black;
    font-weight: 500;
    font-size: 24px;
  }

}

.cart-total {
  margin-bottom: 30px;
  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include r(576) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__title {
    font-size: 24px;
    color: $black;
    @include r(576) {
      order: 1;
    }
  }
  &__sum {
    display: flex;
    align-items: center;
    gap: 0 20px;
    justify-content: flex-end;
    width: 100%;

  }
  &__label {
    font-size: 16px;
    color: $grey-5;
    line-height: 1.5;
  }
}

.cart-form {
  background-color: #fff;
  padding: 20px 15px;
  border-radius: 10px;
  &__title {
    font-size: 24px;
    color: $black;
    margin-bottom: 30px;
  }
  &__row {
    display: flex;
    align-items: center;
    gap: 20px;
    @include r(1280) {
      flex-direction: column;
    }
  }
  &__group {
    margin-bottom: 25px;
    padding: 7px 24px;
    border-radius: 7px;
    border: 1px solid $grey-2;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px rgba(198, 228, 246, 0.05);
    width: calc(50% - 20px);
    @include r(1280) {
      width: 100%;
      margin-bottom: 0;
    }
  }
  &__label {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    color: $grey-5;
  }
  &__input {
    border: none;
    font-size: 15px;
    color: $black;
    &::placeholder {
      font-size: 15px;
      color: $black;
    }
    &:focus,
    &:active {
      outline: none;
      box-shadow: none;
    }
  }
  &__btn {
    width: calc(50% - 20px);
    height: 56px;
    @include r(1280) {
      width: 100%;
    }
  }
  &__conf {
    width: calc(50% - 20px);
    @include r(1280) {
      width: 100%;
      margin-top: 20px;
    }
    label {
      max-width: 100%;
      color: $grey-5;
    }
  }
  .conf-checkbox__label {
    @include r(1280) {
      padding-top: 10px;
    }
  }
}


// favorite
.favorite {
  &__row {
    gap: 30px 0;
  }
  &__nav-btn {
    stroke: $black;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 10px 25px 15px rgba(0, 0, 0, 0.15);
  }
  &__prev {
    left: 0;
  }
  &__next {
    right: -10px;
  }
  .product-card__actions {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .product-card__actions-button_matching {
    display: none;
  }
  .product-card__actions-button svg {
    fill: $red;
  }
}

// compare
.compare {
  &__slider {
    position:fixed;
    top: 20px;
    left:0;
    right: 0;
    margin: 0 auto;
    width: 1220px;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    &.is-fixed {
      opacity: 1;
      z-index: 50;
      visibility: visible;
    }
    .favorite__prev {
      left: 0;
    }
    .favorite__next {
      right: 0;
    }
    .product-card {
      padding: 10px;
      img {
        width: 100px;
        height: 80px;
      }
    }
  }
  &__nav-btn {
    stroke: $black;
  }
  &__prev {
    left: -50px;
  }
  &__next {
    right: -50px;
  }
  .product-card__actions {

    top: 8px;
    right: 8px;
    left: auto;
  }
  .product-card__actions-button {
    width: 30px;
    height: 30px;
    padding: 0;
    &:hover {
      svg {
        opacity: 0.6;
      }
    }
  }
  .product-card__actions-button_favorite {
    display: none;
  }
  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__clear {
    color: $blue;
    font-size: 15px;
    &:hover {
      color: $blueHover;
    }
  }
}

.compare-prop {
  &__wrapper {
    background-color: #fff;
    margin: 0 -15px 30px;
    padding: 25px 30px 30px;
    border-radius: 10px;
  }
  &__title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
  }
  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    cursor: pointer;
    svg {
      transform: rotate(180deg);
      transition: transform $trns;
      fill: $black;
    }
    &.collapsed svg {
      transform: rotate(0);
    }
  }
  &__inner {
    margin: 30px -15px 20px;
    padding: 10px 15px;
    transition: background-color $trns;
    border-bottom: 1px solid $grey-2-5;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__list {

  }
  &__caption {
    margin-bottom: 10px;
    font-size: 15px;
    color: $grey-5;
    line-height: 1.2;
  }
  &__value {
    color: $black;
    font-size: 15px;
  }
  &__delivery {
    background-color: transparent;
    margin: 0 0 20px;
    padding: 0;
    .compare-prop__inner {
      margin-top: 0;
    }
  }
}

.compare-differences {
  margin-bottom: 15px;
  .container {
    padding: 15px;
    border-top: 1px solid $grey-3;
    border-bottom: 1px solid $grey-3;
  }
  &__caption {
    color: $black;
  }
  &__switch {
    display: flex;
    align-items: center;
    gap: 0 185px;
  }
  &__label {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    margin-right: 10px;
    position: relative;
    vertical-align: middle;
    font-size: 14px;
    user-select: none;
    cursor: pointer;
  }
  &__label .compare-differences__pane {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 42px;
    height: 25px;

    border-radius: 15px;
    vertical-align: top;
    background: $grey-2-5;
    transition: .2s;
  }
  //&__label .compare-differences__pane:before {
  //  content: '';
  //  position: absolute;
  //  top: 3px;
  //  left: 3px;
  //  display: inline-block;
  //  width: 19px;
  //  height: 19px;
  //  border-radius: 50%;
  //  background: white;
  //  transition: .15s;
  //}
  &__label input[type=checkbox] {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  &__label input[type=checkbox]:not(:disabled):active + .compare-differences__pane:before {

  }
  &__label input[type=checkbox]:checked + .compare-differences__pane {
    background: $grey-5;
  }
  &__label input[type=checkbox]:checked + .compare-differences__pane:before {
    transform:translateX(16px);
  }
}

.brands-in-tags {
  .category-tags__list {
    max-height: none;
    overflow: visible;
  }
}


.brands-in {
  &__title {
    @include r(576) {
      font-size: 24px !important;
      margin-bottom: 0;
    }
  }
  &__heading {
    display: flex;
    align-items: flex-start;
    gap: 0 10px;
  }
  &__left {
    float: left;
    margin-right: 30px;
    @include r(576) {
      float: none;
      margin-right: 0;
    }
  }
  &__logo {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #fff;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    flex: 0 0 100px;
    @include r(576) {
      width: 100px;
      height: 100px;
    }
  }
  &__link {
    max-width: 150px;
    padding: 10px;
    position: relative;
    border: 1px solid $grey-2-5;
    border-radius: 10px;
    transition: border-color $trns;
    @include r(576) {
      max-width: 100%;
      margin-bottom: 20px;
    }
    a {
      display: block;
      font-size: 15px;
      text-align: center;
      color: $blue;
      transition: color $trns;
    }
    &:hover {
      border-color: $grey-3;
      a {
        color: $blueHover;
      }
    }
  }
  &__top-text {
    p {
      font-size: 15px;
      color: $black;
      line-height: 1.6;
      margin-bottom: 15px;
    }
  }
  &__card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 25px;
    p {
      color: $black;
      font-size: 15px;
      line-height: 1.6;
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.brands-list {
  &__row {
    margin-bottom: 50px;
    gap: 20px 0;
  }
  &__caption {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 24px;
    color: $black;
  }
  &__item {
    display: flex;
    align-items: flex-start;
    gap: 0 30px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    height: 100%;
    @include r(576) {
      flex-direction: column;
      gap: 20px 0;
    }
  }
  &__left {
    flex: 0 0 150px;
    text-align: center;
    @include r(576) {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 0 10px;
    }
    a {
      font-weight: 500;
      font-size: 15px;
      color: $blue;
      &:hover {
        color: $blueHover;
      }
    }
    p {
      font-weight: 500;
      font-size: 15px;
      color: $black;
    }
  }
  &__logo {
    position: relative;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 10px;
  }
  &__description {
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 1.6;
    color: $black;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    @include r(1280) {
      -webkit-line-clamp: 11;
    }
    @include r(576) {
      -webkit-line-clamp: 8;
    }
  }
  &__more {
    font-size: 15px;
    color: $blue;
    &:hover {
      color: $blueHover;
    }
  }
}


.variants {
  margin-bottom: 30px;
  &__title {
    margin-bottom: 5px;
    @include r(768) {
      font-size: 24px !important;

    }
  }
  &__subtitle {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 20px;
    color: $black;
    @include r(768) {
      font-size: 20px;
    }
  }
  &__img {
    border-radius: 10px;
    width: 100%;
  }
}

.sketches {
  &__row {
    gap: 30px 0;
  }
  &__item {
    padding: 20px;
    background-color: #fff;
  }
  &__img {
    display: block;
    margin-bottom: 15px;
  }
  &__caption {
    font-weight: 500;
    font-size: 18px;
    color: $black;
    line-height: 1.6;
    margin-bottom: 5px;
  }
  &__for {
    font-size: 15px;
    color: $grey-5;
    line-height: 1.6;
    margin-bottom: 32px;
  }
}

.variant-in {
  &__caption {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 24px;
    color: $black;
  }
  ul {
    list-style-type: disc;
    margin-left: 20px;
    li {
      font-size: 15px;
      color: $grey-5;
      line-height: 1.6;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__card {
    padding: 20px 25px;
    background-color: #fff;
    border-radius: 10px;
    p:not(.variant-in__subtitle) {
      font-size: 15px;
      color: $grey-5;
      line-height: 1.6;
      margin-bottom: 10px;
    }
  }
  &__subtitle {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
    color: $black;
  }
}

.variant-heading {
  margin-bottom: 30px;
  &__title {
    margin-bottom: 5px;
  }
  &__subtitle {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
    color: $black;
  }
  &__img {
    display: block;
    margin: 0 auto;
    @include r(768) {
      margin-bottom: 20px;
    }
  }
}
