.is-inner-page {
  h1.title-h2 {
    font-size: 28px;
    @include r(600) {
      font-size: 20px;
    }
  }
}

// reviews
.reviews-list {
  &__item {
    display: flex;
    gap: 0 40px;
    margin-bottom: 30px;
    padding: 30px;
    border-radius: 10px;
    background-color: #fff;
    &:last-child {
      margin-bottom: 0;
    }
    @include r(576) {
      position: relative;
      flex-direction: column;
      gap: 20px 0;
    }
  }
  &__caption {
    margin-bottom: 10px;
    color: $black;
    font-weight: 500;
    font-size: 18px;
  }
  &__text {
    margin-bottom: 20px;
    font-size: 15px;
    color: $grey-5;
    line-height: 1.6;
    @include r(1280) {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;
    }
  }
  &__img {
    @include r(576) {
      order: 1
    }
  }
  .reviews__bottom {
    justify-content: flex-start;
    gap: 0 30px;
    @include r(680) {
      flex-direction: column;
      gap: 20px 0;
    }
    @include r(576) {
      align-items: center;
      order: 3;
      button {
        width: 235px;
        margin: 0 auto;
      }
    }
  }
}

.reviews-in {
  &__name {
    font-weight: 500;
    color: $black;
    font-size: 18px;
    margin-bottom: 10px;
  }
  &__content {
    p {
      margin-bottom: 20px;
      font-size: 15px;
      line-height: 1.6;
      color: $grey-5;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__img {
    @include r(768) {
      display: block;
      margin: 0 auto 20px;
    }
  }
}

//articles
.articles-list {
  .articles__item {
    transition: box-shadow $trns;
    &:hover {
      box-shadow: 0px 0px 25px 6px rgba(0, 0, 0, 0.25);
    }
  }
}

.articles-in {
  &__heading {
    display: flex;
    align-items: center;
    gap: 0 50px;
    margin-bottom: 30px;
  }
  &__watching {
    display: flex;
    align-items: center;
    gap: 0 8px;
    p {
      font-size: 15px;
      color: $grey-5;
    }
  }
  &__content {
    img {
      border-radius: 10px;
      margin-bottom: 15px;
    }
    p {
      color: $black;
      font-size: 15px;
      margin-bottom: 15px;
      line-height: 1.6;
      &:last-child {
        margin-bottom: 30px;
      }
      strong {
        font-weight: 500;
        font-size: 18px;
      }
      a {
        color: $blue;
        border-bottom: 1px dashed $blue;
      }
    }

  }
  &__img {
    margin-bottom: 60px;
    border-radius: 10px;
    @include r(768) {
      margin-bottom: 20px;
    }
  }
  &__quote {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    p {
      font-size: 16px;
      margin-bottom: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.articles-in-navigation {
  padding: 20px;
  background-color: #fff;
  @include r(768) {
    margin-bottom: 40px;
  }
  &__caption {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
    color: $black;
  }
  &__list {
    padding-left: 20px;
    list-style-type: disc;
  }
  &__item {
    margin-bottom: 10px;
    font-size: 14px;
    color: $grey-5;
    line-height: 1.5;
    &:last-child {
      margin-bottom: 0;
    }
  }
}


.service-in {
  color: $black;
}

.service-marks {
  margin-top: 30px;
  &__caption {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 18px;
    color: $black;
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    @include r(768) {
      margin-bottom: 20px;
    }
  }
  &__item {
    flex: 0 0 calc((100% - 3 * 15px) / 4);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 6px;
    height: 32px;
    font-size: 15px;
    color: $grey-5;
    @include r(1024) {
      flex: 0 0 calc((100% - 2 * 15px) / 3);
    }
    @include r(768) {
      flex: 0 0 calc((100% - 3 * 15px) / 4);
    }
  }
}

.service-feedback {
  .filters-check__input + label {
    color: #fff;
    margin-bottom: 0;
  }
  &__check-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px 5px;
    margin-bottom: 15px;
    .filters-check {
      flex: 0 0 45%;
      max-width: 45%;
      margin-bottom: 0;
    }
  }
}

.customer-service {
  &__row {
    gap: 20px 0;
  }
  &__item {
    padding: 20px 25px;
    background-color: #fff;
    border-radius: 10px;
    height: 100%;
  }
  &__caption {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
  }
}

.service-works {
  &__row {
    gap: 20px 0;
  }
  &__item {
    position: relative;
    border-radius: 10px;
    //height: 100%;

    transition: box-shadow $trns;
    &:hover {
      box-shadow: 0px 0px 25px 6px rgba(0, 0, 0, 0.25);
      .service-works__btn {
        color: $blueHover;
      }
    }
  }
  &__img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 15px;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-height: 145px;
  }
  &__caption {
    font-weight: 500;
    font-size: 18px;
  }
  &__btn {
    font-size: 15px;
    color: $blue;
  }
}

.news-list {
  &__heading {
    display: flex;
    align-items: center;
    gap: 0 70px;
    @include r(768) {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
    }
  }
  &__nav {
    display: flex;
    align-items: center;
    gap: 0 20px;
    margin-bottom: 30px;
  }
  &__btn {
    padding: 7px 20px;
    border-radius: 100px;
    background-color: $grey-2;
    color: $grey-5;
    &.active {
      background-color: $blue-signal;
      color: #fff;
    }
  }
}

.news-in-sidebar {
  &__link {
    display: block;
    margin-bottom: 7px;
    font-size: 14px;
    color: $blue;
    &:hover {
      color: $blueHover;
    }
  }
  &__heading {
    display: flex;
    align-items: flex-start;
    gap: 0 10px;
    margin-bottom: 15px;
    .articles-in-navigation__caption {
      margin-bottom: 5px;
    }
  }
  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 1px solid $blue-2-hover;
    border-radius: 5px;
    flex: 0 0 auto;
    img {
      width: 76px;
      height: 76px;
    }
  }
  &__industry {
    font-size: 14px;
    color: $black;
  }
  &__date {
    margin-bottom: 30px;
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 5px;
    background-color: $grey-2;
    color: $grey-5;
    border-radius: 7px;
    width: 100%;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    svg {
      transform: rotate(-90deg);
    }
  }
}
.news-in-gallery {
  margin-bottom: 50px;
  &__big-img {
    border-radius: 10px;
    img {
      border-radius: 10px;
    }
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-wrap: wrap;
  }
  &__item {
    display: block;
    flex: 0 0 calc((100% - 5 * 4px) / 6);
    max-width: calc((100% - 5 * 4px) / 6);
  }
  &__link {
    display: block;
    padding: 4px;
    border: 1px solid transparent;
    background-color: #fff;
    border-radius: 3px;
    &.active {
      border-color: $blue-2-hover;
    }
  }
  &__small-img {
    border-radius: 3px;
  }
}

.pay {
  &__title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 24px;
    color: $black;
  }
  &__caption {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
  }
  &__description {
    color: $black;
    line-height: 1.6;
  }
  &__item {
    padding: 20px 25px;
    background-color: #fff;
    height: 100%;
    border-radius: 10px;
  }
  &__mb50 {
    margin-bottom: 50px;
    @include r(768) {
      margin-bottom: 20px;
    }
  }
  &__mb30 {
    margin-bottom: 30px;
  }
  &__mb20 {
    margin-bottom: 20px;
  }
  &__mb15 {
    margin-bottom: 15px;
  }
  &__list {
    padding-left: 20px;
    list-style-type: disc;
    li {
      margin-bottom: 10px;
      color: $black;
      font-size: 15px;
      line-height: 1.6;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__link {
    display: block;
    margin-top: 30px;
    font-size: 15px;
    color: $blue;
    &:hover {
      color: $blueHover;
    }
  }
}


.contacts {
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 0 60px;
    margin-bottom: 20px;
    &_address {
      margin-bottom: 40px;
    }
    @include r(992) {
      justify-content: space-between;
      gap: 20px 10px;
      flex-wrap: wrap;
    }
  }
  &__item {
    flex: 0 0 auto;
  }
  &__caption {
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 500;
    color: $black;
    line-height: 1.2;
  }
  &__subtitle {
    font-size: 14px;
    color: $grey-5;
    line-height: 1.2;
    &:not(button) {
      cursor: text;
    }
  }
  &__map {
    display: block;
    margin: 0 auto 50px;
    @include r(576) {
      margin-bottom: 40px;
    }
  }
}

.requisites {
  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    @include r(576) {
      flex-direction: column;
      gap: 5px 0;
      align-items: flex-start;
    }
  }
  &__caption {
    font-size: 20px;
    font-weight: 500;
    color: $black;
  }
  &__link {
    display: flex;
    align-items: center;
    gap: 0 10px;
    color: $blue;
    &:hover {
      color: $blueHover;
    }
  }
  .product-char__prop-link {
    max-width: 300px;
    @include r(576) {
      max-width: 100%;
      text-align: left;
    }
  }
  .product-char__prop-item {
    @include r(576) {
      flex-direction: column;
      gap: 5px 0;
    }
  }
}

.pnf {
  &__title {
    margin-bottom: 40px;
    text-align: center;
  }
  &__caption {
    margin-bottom: 50px;
    font-size: 15px;
    line-height: 1.6;
    color: $black;
    text-align: center;
  }
  &__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 30px;
    margin-bottom: 50px;
    @include r(576) {
      flex-direction: column;
      gap: 20px 0;
    }
  }
  &__btn {
    width: 232px;
    height: 48px;
  }
}

.policy {
  p {
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 1.6;
    color: $black;
  }
  ul {
    margin-left: 30px;
    margin-bottom: 10px;
    list-style: disc;
    li {
      font-size: 15px;
      color: $black;
      line-height: 1.6;

    }
  }
}


.about {
  &__txt {
    font-size: 15px;
    line-height: 1.6;
    color: $black;
  }
  &__strong {
    font-size: 18px;
    font-weight: 500;
    color: $black;
  }
  &__title {
    font-family: 'BebasNeue', sans-serif;
    font-size: 48px;
    letter-spacing: 2.4px;
    color: $black;
    text-transform: uppercase;
    @include r(992) {
      font-size: 36px;
    }
  }
  &__img {
    display: block;
    border-radius: 10px;
    margin: 0 auto;
    @include r(1280) {
      margin-bottom: 50px;
      width: 100%;
    }
  }
}


.partners {
  &__list {
    display: flex;
    align-items: center;
    gap: 0 30px;
    flex-wrap: wrap;
    @include r(1280) {
      gap: 20px;
    }
  }
  &__item {
    position: relative;
    flex: 0 0 calc((100% - 4 * 30px) / 5);
    padding: 10px 0;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    transition: box-shadow $trns;
    @include r(1280) {
      flex: 0 0 calc((100% - 4 * 20px) / 5);
    }
    @include r(992) {
      flex: 0 0 calc((100% - 2 * 20px) / 3);
    }
    &:hover {
      box-shadow: 0px 0px 25px 6px rgba(0, 0, 0, 0.25);
    }
  }
  &__img {
    display: block;
    margin: 0 auto 10px;
  }
  &__dealer {
    margin-bottom: 10px;
    font-size: 14px;
    color: $grey-5;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: $black;
    transition: color $trns;
    svg {
      stroke: #0057FF;
      stroke-width: 1.7;
      transition: stroke $trns;
    }
    &:hover {
      color: $grey-4;
      svg {
        stroke: $grey-4;
      }
    }

  }
}

.manufacture-in {
  &__title {
    margin-bottom: 5px;
  }
  &__strong {
    font-size: 20px;
    font-weight: 500;
    color: $black;
  }
  &__img {
    border-radius: 10px;
    width: 100%;
    @include r(576) {
      border-radius: 5px;
    }
  }
  &__caption {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
    color: $black;
  }
  &__card {
    background-color: #fff;
    padding: 20px 25px;
    border-radius: 10px;
    margin-left: 0;
    margin-right: 0;
    gap: 20px 0;
    @include r(576) {
      padding: 20px 15px;
    }
    .manufacture__strong {
      margin-bottom: 15px;
    }
  }
  &__card--wr {
    @include r(768) {
      padding: 0;
    }
  }
  &__text {
    margin-bottom: 15px;
    color: $black;
    font-size: 15px;
    line-height: 1.6;
  }
  &__list {
    list-style: disc;
    margin-left: 30px;
    @include r(576) {
      margin-left: 20px;
    }
    li {
      color: $black;
      font-size: 15px;
      margin-bottom: 10px;
    }
  }
}

.rents {
  .feedback {
    padding: 20px 15px;
    position: relative;
    @include r(1024) {
      height: auto;
    }
  }
  .feedback__caption {
    font-size: 18px;
  }
  .feedback__subcaption {
    font-size: 14px;
  }
  .checkbox__label {
    position: absolute;
    width: 90%;
    bottom: 15px;
    @include r(1024) {
      position: relative;
      bottom: auto;
      margin-top: 20px;
    }
  }
}

.rents-table {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 15px;

  &__caption {
    font-size: 18px;
    font-weight: 500;
    color: $black;
    margin-bottom: 15px;
  }
  table {
    width: 100%;
    margin-bottom: 15px;
  }
  table tr {
    border-bottom: 1px solid $grey-2;
    @include r(992) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 10px 0;
    }
  }
  table td {
    font-size: 15px;
    color: $black;
    padding: 15px 15px 10px 0;
    @include r(1024) {
      &:first-child {
        max-width: 160px;
        @include r(992) {
          max-width: none;
        }
      }
    }
    @include r(992) {
      flex: 0 0 50%;
    }
    span {
      display: none;
      font-size: 14px;
      color: $grey-5;
      @include r(992) {
        display: block;
      }
    }
  }
  table th {
    padding-bottom: 10px;
    @include r(992) {
      display: none;
    }
  }
}
