.is-inner-page {
  .title-h2 {
    font-size: 28px;
  }
}

// reviews
.reviews-list {
  &__item {
    display: flex;
    gap: 0 40px;
    margin-bottom: 30px;
    padding: 30px;
    border-radius: 10px;
    background-color: #fff;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__caption {
    margin-bottom: 10px;
    color: $black;
    font-weight: 500;
    font-size: 18px;
  }
  &__text {
    margin-bottom: 20px;
    font-size: 15px;
    color: $grey-5;
    line-height: 1.6;
  }
  .reviews__bottom {
    justify-content: flex-start;
    gap: 0 30px;
  }
}

.reviews-in {
  &__name {
    font-weight: 500;
    color: $black;
    font-size: 18px;
    margin-bottom: 10px;
  }
  &__content {
    p {
      margin-bottom: 20px;
      font-size: 15px;
      line-height: 1.6;
      color: $grey-5;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

//articles
.articles-list {
  .articles__item {
    transition: box-shadow $trns;
    &:hover {
      box-shadow: 0px 0px 25px 6px rgba(0, 0, 0, 0.25);
    }
  }
}

.articles-in {
  &__heading {
    display: flex;
    align-items: center;
    gap: 0 50px;
    margin-bottom: 30px;
  }
  &__watching {
    display: flex;
    align-items: center;
    gap: 0 8px;
    p {
      font-size: 15px;
      color: $grey-5;
    }
  }
  &__content {
    img {
      border-radius: 10px;
      margin-bottom: 15px;
    }
    p {
      color: $black;
      font-size: 15px;
      margin-bottom: 15px;
      line-height: 1.6;
      &:last-child {
        margin-bottom: 30px;
      }
      strong {
        font-weight: 500;
        font-size: 18px;
      }
      a {
        color: $blue;
        border-bottom: 1px dashed $blue;
      }
    }

  }
  &__img {
    margin-bottom: 60px;
  }
  &__quote {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    p {
      font-size: 16px;
      margin-bottom: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.articles-in-navigation {
  padding: 20px;
  background-color: #fff;
  &__caption {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
    color: $black;
  }
  &__list {
    padding-left: 20px;
    list-style-type: disc;
  }
  &__item {
    margin-bottom: 10px;
    font-size: 14px;
    color: $grey-5;
    line-height: 1.5;
    &:last-child {
      margin-bottom: 0;
    }
  }
}


.service-in {
  color: $black;
}

.service-marks {
  margin-top: 30px;
  &__caption {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 18px;
    color: $black;
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
  }
  &__item {
    flex: 0 0 calc((100% - 3 * 15px) / 4);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 6px;
    height: 32px;
    font-size: 15px;
    color: $grey-5;
  }
}

.service-feedback {
  .filters-check__input + label {
    color: #fff;
    margin-bottom: 0;
  }
  &__check-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px 5px;
    margin-bottom: 15px;
    .filters-check {
      flex: 0 0 45%;
      max-width: 45%;
      margin-bottom: 0;
    }
  }
}

.customer-service {
  &__row {
    gap: 20px 0;
  }
  &__item {
    padding: 20px 25px;
    background-color: #fff;
    border-radius: 10px;
    height: 100%;
  }
  &__caption {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
  }
}

.service-works {
  &__row {
    gap: 20px 0;
  }
  &__item {
    position: relative;
    border-radius: 10px;
    //height: 100%;

    transition: box-shadow $trns;
    &:hover {
      box-shadow: 0px 0px 25px 6px rgba(0, 0, 0, 0.25);
      .service-works__btn {
        color: $blueHover;
      }
    }
  }
  &__img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 15px;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-height: 145px;
  }
  &__caption {
    font-weight: 500;
    font-size: 18px;
  }
  &__btn {
    font-size: 15px;
    color: $blue;
  }
}

.news-list {
  &__heading {
    display: flex;
    align-items: center;
    gap: 0 70px;
  }
  &__nav {
    display: flex;
    align-items: center;
    gap: 0 20px;
    margin-bottom: 30px;
  }
  &__btn {
    padding: 7px 20px;
    border-radius: 100px;
    background-color: $grey-2;
    color: $grey-5;
    &.active {
      background-color: $blue-signal;
      color: #fff;
    }
  }
}

.news-in-sidebar {
  &__link {
    display: block;
    margin-bottom: 7px;
    font-size: 14px;
    color: $blue;
    &:hover {
      color: $blueHover;
    }
  }
  &__heading {
    display: flex;
    align-items: flex-start;
    gap: 0 10px;
    margin-bottom: 15px;
    .articles-in-navigation__caption {
      margin-bottom: 5px;
    }
  }
  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 1px solid $blue-2-hover;
    border-radius: 5px;
    flex: 0 0 auto;
    img {
      width: 76px;
      height: 76px;
    }
  }
  &__industry {
    font-size: 14px;
    color: $black;
  }
  &__date {
    margin-bottom: 30px;
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 5px;
    background-color: $grey-2;
    color: $grey-5;
    border-radius: 7px;
    width: 100%;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    svg {
      transform: rotate(-90deg);
    }
  }
}
.news-in-gallery {
  margin-bottom: 50px;
  &__big-img {
    border-radius: 10px;
    img {
      border-radius: 10px;
    }
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-wrap: wrap;
  }
  &__item {
    display: block;
    flex: 0 0 calc((100% - 5 * 4px) / 6);
    max-width: calc((100% - 5 * 4px) / 6);
  }
  &__link {
    display: block;
    padding: 4px;
    border: 1px solid transparent;
    background-color: #fff;
    border-radius: 3px;
    &.active {
      border-color: $blue-2-hover;
    }
  }
  &__small-img {
    border-radius: 3px;
  }
}

.pay {
  &__title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 24px;
    color: $black;
  }
  &__caption {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
  }
  &__description {
    color: $black;
    line-height: 1.6;
  }
  &__item {
    padding: 20px 25px;
    background-color: #fff;
    height: 100%;
    border-radius: 10px;
  }
  &__mb50 {
    margin-bottom: 50px;
  }
  &__mb30 {
    margin-bottom: 30px;
  }
  &__mb20 {
    margin-bottom: 20px;
  }
  &__mb15 {
    margin-bottom: 15px;
  }
  &__list {
    padding-left: 20px;
    list-style-type: disc;
    li {
      margin-bottom: 10px;
      color: $black;
      font-size: 15px;
      line-height: 1.6;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__link {
    display: block;
    margin-top: 30px;
    font-size: 15px;
    color: $blue;
    &:hover {
      color: $blueHover;
    }
  }
}
