<section class="section service">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="title-h2 service__title">Наши преимущества</h2>
      </div>
    </div>
    <div class="row row-gap">
      <div class="col-lg-4 col-sm-6">
        <div class="service__item">
          <p class="service__caption">Собственное производство</p>
          <p class="service__description">Производство оснащено современным оборудованием и позволяет выпускать серийную продукцию европейского уровня с высоким качеством.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="service__item">
          <p class="service__caption">Свой отдел проектирования</p>
          <p class="service__description">Отдел проектирования разрабатывает новые решения и модифицирует серийные модели для улучшения их характеристик.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="service__item">
          <p class="service__caption">Решения под любой бюджет</p>
          <p class="service__description">Продукция в различных ценовых категориях позволяет гибко сочетать стоимость и функциональные возможности, оставаясь в рамках запланированного бюджета.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="service__item">
          <p class="service__caption">Широкий модельный ряд</p>
          <p class="service__description">Каждый вид выпускаемой продукции имеет несолько модификаций, которые предназначены для решения широкого спектра задач наших заказчиков.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="service__item">
          <p class="service__caption">Сертифицированная продукция</p>
          <p class="service__description">Вся продукция нашей компании проходит обязательную сертификацию.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="service__item">
          <p class="service__caption">Специальные решения</p>
          <p class="service__description">По запросам заказчиков мы разрабатываем и производим специальные решения для нестандартных задач.</p>
        </div>
      </div>
    </div>
  </div>
</section>
