<section class="section articles">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-7">
        <h2 class="title-h2 articles__title">Последние статьи</h2>
      </div>
      <div class="col-5">
        <a href="" class="title-link">
          Все статьи
          <svg width="24" height="24">
            <use xlink:href="assets/img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="swiper js-articles-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="articles__item">
                <img src="assets/img/art-01.jpg" alt="" class="articles__img">
                <div class="articles__inner">
                  <p class="articles__caption">Монтаж стационарного генератора</p>
                  <p class="articles__date">Декабрь 2021</p>
                  <a href="" class="lnk"></a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="articles__item">
                <img src="assets/img/art-02.jpg" alt="" class="articles__img">
                <div class="articles__inner">
                  <p class="articles__caption">Подключение ДГУ (электростанции) </p>
                  <p class="articles__date">Декабрь 2021</p>
                  <a href="" class="lnk"></a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="articles__item">
                <img src="assets/img/art-03.jpg" alt="" class="articles__img">
                <div class="articles__inner">
                  <p class="articles__caption">Резервное электроснабжение ...</p>
                  <p class="articles__date">Декабрь 2021</p>
                  <a href="" class="lnk"></a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="articles__item">
                <img src="assets/img/art-04.jpg" alt="" class="articles__img">
                <div class="articles__inner">
                  <p class="articles__caption">Стабилизатор Ortea Orion Plus 500-15 для ...</p>
                  <p class="articles__date">Декабрь 2021</p>
                  <a href="" class="lnk"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
