<section class="section brands">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="title-h2 best__title">Популярные бренды</h2>
      </div>
    </div>

    <div class="js-brands-slider swiper">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="brands__item">
            <img src="assets/img/br-01.png" alt="" class="brands__img">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="brands__item">
            <img src="assets/img/br-02.png" alt="" class="brands__img">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="brands__item">
            <img src="assets/img/br-03.png" alt="" class="brands__img">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="brands__item">
            <img src="assets/img/br-04.png" alt="" class="brands__img">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="brands__item">
            <img src="assets/img/br-05.png" alt="" class="brands__img">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="brands__item">
            <img src="assets/img/br-06.png" alt="" class="brands__img">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="brands__item">
            <img src="assets/img/br-07.png" alt="" class="brands__img">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="brands__item">
            <img src="assets/img/br-08.png" alt="" class="brands__img">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="brands__item">
            <img src="assets/img/br-09.png" alt="" class="brands__img">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="brands__item">
            <img src="assets/img/br-010.png" alt="" class="brands__img">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="brands__item">
            <img src="assets/img/br-011.png" alt="" class="brands__img">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="brands__item">
            <img src="assets/img/br-012.png" alt="" class="brands__img">
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
