<section class="section certificates">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="title-h2 certificates__title">Наши сертификаты</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="swiper js-cert-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="certificates__item">
                <a href="assets/img/cert-01.jpg" data-fancybox="certificates"
                   class="certificates__link">
                  <img src="assets/img/cert-01.jpg" alt="" class="certificates__img"></a>
                <p class="certificates__caption">Сертификат на&nbsp;контейнерные&nbsp;ДГУ</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="certificates__item">
                <a href="assets/img/cert-02.jpg" data-fancybox="certificates"
                   class="certificates__link">
                  <img src="assets/img/cert-02.jpg" alt="" class="certificates__img"></a>
                <p class="certificates__caption">Сертификат на контейнерные
                  ДГУ&nbsp;<span>(2 степень огнестойкости)</span>
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="certificates__item">
                <a href="assets/img/cert-03.jpg" data-fancybox="certificates"
                   class="certificates__link">
                  <img src="assets/img/cert-03.jpg" alt="" class="certificates__img"></a>
                <p class="certificates__caption">Сертификат на&nbsp;контейнерные&nbsp;ДГУ</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="certificates__item">
                <a href="assets/img/cert-04.jpg" data-fancybox="certificates"
                   class="certificates__link">
                  <img src="assets/img/cert-04.jpg" alt="" class="certificates__img"></a>
                <p class="certificates__caption">Сертификат на блок-контейнеры</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
