<section class="section clients">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="title-h2">Наши клиенты</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 swiper js-clients-slider">
        <ul class="clients__list swiper-wrapper">
          <li class="clients__item swiper-slide">
            <img src="assets/img/cl-01.png" alt="" class="clients__img">
          </li>
          <li class="clients__item swiper-slide">
            <img src="assets/img/cl-02.png" alt="" class="clients__img">
          </li>
          <li class="clients__item swiper-slide">
            <img src="assets/img/cl-03.png" alt="" class="clients__img">
          </li>
          <li class="clients__item swiper-slide">
            <img src="assets/img/cl-04.png" alt="" class="clients__img">
          </li>
          <li class="clients__item swiper-slide">
            <img src="assets/img/cl-05.png" alt="" class="clients__img">
          </li>
          <li class="clients__item swiper-slide">
            <img src="assets/img/cl-06.png" alt="" class="clients__img">
          </li>
          <li class="clients__item swiper-slide">
            <img src="assets/img/cl-07.png" alt="" class="clients__img">
          </li>
          <li class="clients__item swiper-slide">
            <img src="assets/img/cl-08.png" alt="" class="clients__img">
          </li>
          <li class="clients__item swiper-slide">
            <img src="assets/img/cl-09.png" alt="" class="clients__img">
          </li>
          <li class="clients__item swiper-slide">
            <img src="assets/img/cl-010.png" alt="" class="clients__img">
          </li>
          <li class="clients__item swiper-slide">
            <img src="assets/img/cl-011.png" alt="" class="clients__img">
          </li>
          <li class="clients__item swiper-slide">
            <img src="assets/img/cl-012.png" alt="" class="clients__img">
          </li>
          <li class="clients__item swiper-slide">
            <img src="assets/img/cl-013.png" alt="" class="clients__img">
          </li>
          <li class="clients__item swiper-slide">
            <img src="assets/img/cl-014.png" alt="" class="clients__img">
          </li>
          <li class="clients__item swiper-slide">
            <img src="assets/img/cl-015.png" alt="" class="clients__img">
          </li>
          <li class="clients__item swiper-slide">
            <img src="assets/img/cl-016.png" alt="" class="clients__img">
          </li>
          <li class="clients__item swiper-slide">
            <img src="assets/img/cl-017.png" alt="" class="clients__img">
          </li>
          <li class="clients__item swiper-slide">
            <img src="assets/img/cl-018.png" alt="" class="clients__img">
          </li>
          <li class="clients__item swiper-slide">
            <img src="assets/img/cl-019.png" alt="" class="clients__img">
          </li>
          <li class="clients__item swiper-slide">
            <img src="assets/img/cl-020.png" alt="" class="clients__img">
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
