<div class="col-sm-6 mb-4">
  <div class="product-variants__card">
    <img src="assets/img/pv-01.jpg" alt="" class="product-variants__img">
    <div class="product-variants__info">
      <p class="product-variants__caption">Блок-контейнеры «БКС»</p>
      <p class="product-variants__subtitle">cтены выполнены из сендвич-панелей</p>
      <div class="product-variants__description">
        <p>Данный тип блок-контейнера отлично подходит для резервных элеткрстанций размещаемых на
          внутриобъектной территории и удачно сочетает широкие функциональные возможности с невысокой
          стоимостью.</p>
        <div class="product-variants__description-hide collapse" id="id01">
          <p>Данный тип блок-контейнера отлично подходит для резервных элеткрстанций размещаемых на
            внутриобъектной территории и удачно сочетает широкие функциональные возможности с невысокой
            стоимостью.</p>
        </div>
      </div>
    </div>
    <div class="product-variants__links">
      <button type="button" class="btn-reset product-variants__link collapsed js-collapse-variants"
              data-toggle="collapse" data-target="#id01">
        <span>Развернуть</span>
        <svg width="20" height="20">
          <use xlink:href="assets/img/sprite.svg#icon-arrow-bottom-blue"></use>
        </svg>
      </button>
      <a href="" class="product-variants__link">Узнать больше</a>
    </div>
    <div class="product-variants__actions">
      <div class="product-variants__action">
        <svg width="24" height="24">
          <use xlink:href="assets/img/sprite.svg#icon-rain"></use>
        </svg>
        <p>Защита от доступа посторонних лиц</p>
      </div>
      <div class="product-variants__action">
        <svg width="24" height="24">
          <use xlink:href="assets/img/sprite.svg#icon-volume"></use>
        </svg>
        <p>Защита от доступа посторонних лиц</p>
      </div>
      <div class="product-variants__action">
        <svg width="24" height="24">
          <use xlink:href="assets/img/sprite.svg#icon-temperature"></use>
        </svg>
        <p>Защита от доступа посторонних лиц</p>
      </div>
      <div class="product-variants__action">
        <svg width="24" height="24">
          <use xlink:href="assets/img/sprite.svg#icon-zm"></use>
        </svg>
        <p>Защита от доступа посторонних лиц</p>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-6 mb-4">
  <div class="product-variants__card">
    <img src="assets/img/pv-02.jpg" alt="" class="product-variants__img">
    <div class="product-variants__info">
      <p class="product-variants__caption">Блок-контейнеры «БКМ»</p>
      <p class="product-variants__subtitle">на базе морского контейнера</p>
      <div class="product-variants__description">
        <p>Блок-контейнеры цельносварные применяются для работы в тяжелых условиях эксплуатации (нефтяной
          помысел, газодобыча) и/или при частых перемещениях, успешно защищая электростанцию от внешних
          факторов окружающей среды.</p>
        <div class="product-variants__description-hide collapse" id="id02">
          <p>Блок-контейнеры цельносварные применяются для работы в тяжелых условиях эксплуатации
            (нефтяной помысел, газодобыча) и/или при частых перемещениях, успешно защищая электростанцию
            от внешних факторов окружающей среды.</p>
        </div>
      </div>
    </div>
    <div class="product-variants__links">
      <button type="button" class="btn-reset product-variants__link collapsed js-collapse-variants"
              data-toggle="collapse" data-target="#id02">
        <span>Развернуть</span>
        <svg width="20" height="20">
          <use xlink:href="assets/img/sprite.svg#icon-arrow-bottom-blue"></use>
        </svg>
      </button>
      <a href="" class="product-variants__link">Узнать больше</a>
    </div>
    <div class="product-variants__actions">
      <div class="product-variants__action">
        <svg width="24" height="24">
          <use xlink:href="assets/img/sprite.svg#icon-rain"></use>
        </svg>
        <p>Защита от доступа посторонних лиц</p>
      </div>
      <div class="product-variants__action">
        <svg width="24" height="24">
          <use xlink:href="assets/img/sprite.svg#icon-volume"></use>
        </svg>
        <p>Защита от доступа посторонних лиц</p>
      </div>
      <div class="product-variants__action">
        <svg width="24" height="24">
          <use xlink:href="assets/img/sprite.svg#icon-temperature"></use>
        </svg>
        <p>Защита от доступа посторонних лиц</p>
      </div>
      <div class="product-variants__action">
        <svg width="24" height="24">
          <use xlink:href="assets/img/sprite.svg#icon-security"></use>
        </svg>
        <p>Защита от доступа посторонних лиц</p>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-6 mb-4">
  <div class="product-variants__card">
    <img src="assets/img/pv-01.jpg" alt="" class="product-variants__img">
    <div class="product-variants__info">
      <p class="product-variants__caption">Блок-контейнеры «БКС-Мини»</p>
      <p class="product-variants__subtitle">малогабаритный из сендвич-панелей</p>
      <div class="product-variants__description">
        <p>Мини блок-контейнеры обладают малыми габаритами и весом, снижают уровень шума от электростанции
          и обеспечивают уверенный запуск электростанции при температуре в -40С. Отлично подходят для
          размещения в них резервных электростанции.</p>
        <div class="product-variants__description-hide collapse" id="id03">
          <p> Мини блок-контейнеры обладают малыми габаритами и весом, снижают уровень шума от
            электростанции и обеспечивают уверенный запуск электростанции при температуре в -40С. Отлично
            подходят для размещения в них резервных электростанции.</p>
        </div>
      </div>
    </div>
    <div class="product-variants__links">
      <button type="button" class="btn-reset product-variants__link collapsed js-collapse-variants"
              data-toggle="collapse" data-target="#id03">
        <span>Развернуть</span>
        <svg width="20" height="20">
          <use xlink:href="assets/img/sprite.svg#icon-arrow-bottom-blue"></use>
        </svg>
      </button>
      <a href="" class="product-variants__link">Узнать больше</a>
    </div>
    <div class="product-variants__actions">
      <div class="product-variants__action">
        <svg width="24" height="24">
          <use xlink:href="assets/img/sprite.svg#icon-rain"></use>
        </svg>
        <p>Защита от доступа посторонних лиц</p>
      </div>
      <div class="product-variants__action">
        <svg width="24" height="24">
          <use xlink:href="assets/img/sprite.svg#icon-volume"></use>
        </svg>
        <p>Защита от доступа посторонних лиц</p>
      </div>
      <div class="product-variants__action">
        <svg width="24" height="24">
          <use xlink:href="assets/img/sprite.svg#icon-temperature"></use>
        </svg>
        <p>Защита от доступа посторонних лиц</p>
      </div>
      <div class="product-variants__action">
        <svg width="24" height="24">
          <use xlink:href="assets/img/sprite.svg#icon-zm"></use>
        </svg>
        <p>Защита от доступа посторонних лиц</p>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-6 mb-4">
  <div class="product-variants__card">
    <img src="assets/img/pv-01.jpg" alt="" class="product-variants__img">
    <div class="product-variants__info">
      <p class="product-variants__caption">Капот погодозащитный</p>
      <p class="product-variants__subtitle">&nbsp;</p>
      <div class="product-variants__description">
        <p>Мини блок-контейнеры обладают малыми габаритами и весом, снижают уровень шума от электростанции
          и обеспечивают уверенный запуск электростанции при температуре в -40С. Отлично подходят для
          размещения в них резервных электростанции.</p>
        <div class="product-variants__description-hide collapse" id="id04">
          <p>Мини блок-контейнеры обладают малыми габаритами и весом, снижают уровень шума от
            электростанции и обеспечивают уверенный запуск электростанции при температуре в -40С. Отлично
            подходят для размещения в них резервных электростанции.</p>
        </div>
      </div>
    </div>
    <div class="product-variants__links">
      <button type="button" class="btn-reset product-variants__link collapsed js-collapse-variants"
              data-toggle="collapse" data-target="#id04">
        <span>Развернуть</span>
        <svg width="20" height="20">
          <use xlink:href="assets/img/sprite.svg#icon-arrow-bottom-blue"></use>
        </svg>
      </button>
      <a href="" class="product-variants__link">Узнать больше</a>
    </div>
    <div class="product-variants__actions">
      <div class="product-variants__action">
        <svg width="24" height="24">
          <use xlink:href="assets/img/sprite.svg#icon-rain"></use>
        </svg>
        <p>Защита от доступа посторонних лиц</p>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-6 mb-4">
  <div class="product-variants__card">
    <img src="assets/img/pv-03.jpg" alt="" class="product-variants__img">
    <div class="product-variants__info">
      <p class="product-variants__caption">Кожух шумозащитный</p>
      <p class="product-variants__subtitle">&nbsp;</p>
      <div class="product-variants__description">
        <p>Мини блок-контейнеры обладают малыми габаритами и весом, снижают уровень шума от электростанции
          и обеспечивают уверенный запуск электростанции при температуре в -40С. Отлично подходят для
          размещения в них резервных электростанции.</p>
        <div class="product-variants__description-hide collapse" id="id05" style="">
          <p>Электростанции в кожухах применяются там, где критически важно снижение урвня шума от
            работающей электростанции (в жилой зоне, в местах работы персонала в непосредственной близости
            от электростанции). </p>
        </div>
      </div>
    </div>
    <div class="product-variants__links">
      <button type="button" class="btn-reset product-variants__link js-collapse-variants collapsed"
              data-toggle="collapse" data-target="#id05" aria-expanded="false">
        <span>Развернуть</span>
        <svg width="20" height="20">
          <use xlink:href="assets/img/sprite.svg#icon-arrow-bottom-blue"></use>
        </svg>
      </button>
      <a href="" class="product-variants__link">Узнать больше</a>
    </div>
    <div class="product-variants__actions">
      <div class="product-variants__action">
        <svg width="24" height="24">
          <use xlink:href="assets/img/sprite.svg#icon-volume"></use>
        </svg>
        <p>Защита от доступа посторонних лиц</p>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-6 mb-4">
  <div class="product-variants__card">
    <img src="assets/img/pv-04.jpg" alt="" class="product-variants__img">
    <div class="product-variants__info">
      <p class="product-variants__caption">Электростанция на раме (открытая)</p>
      <p class="product-variants__subtitle">&nbsp;</p>
      <div class="product-variants__description">
        <p>Дизель-генераторы в открытом исполнении предназначены для установки в технические помещения,
          оборудованные для размещения дизельной электростанции.</p>
        <div class="product-variants__description-hide collapse" id="id06">
          <p>Дизель-генераторы в открытом исполнении предназначены для установки в технические помещения,
            оборудованные для размещения дизельной электростанции.</p>
        </div>
      </div>
    </div>
    <div class="product-variants__links">
      <button type="button" class="btn-reset product-variants__link collapsed js-collapse-variants"
              data-toggle="collapse" data-target="#id06">
        <span>Развернуть</span>
        <svg width="20" height="20">
          <use xlink:href="assets/img/sprite.svg#icon-arrow-bottom-blue"></use>
        </svg>
      </button>
      <a href="" class="product-variants__link">Узнать больше</a>
    </div>
    <div class="product-variants__actions">

    </div>
  </div>
</div>
