<section class="section faq">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 col-md-6">
        <h2 class="title-h2 faq__title">Ответы на популярные вопросы</h2>
        <div id="accordion" class="faq__wrapper">
          <div class="faq__item">
            <button class="btn-reset faq__open" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne">
              <span>Личный кабинет на Маркетплейсе ВБЦ?</span>
              <svg width="24" height="24">
                <use xlink:href="assets/img/sprite.svg#icon-arrow-bottom"></use>
              </svg>
            </button>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="faq__content">
                Достаточно лишь зарегистрироваться указав ваши ФИО, e-mail, телефон и ИНН. При этом для полноценной
                работы вам потребуется Квалифицированная Электронная Подпись.
              </div>
            </div>
          </div>
          <div class="faq__item">

            <button class="btn-reset faq__open collapsed" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
              <span>Личный кабинет на Маркетплейсе ВБЦ?</span>
              <svg width="24" height="24">
                <use xlink:href="assets/img/sprite.svg#icon-arrow-bottom"></use>
              </svg>
            </button>

            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="faq__content">
                Достаточно лишь зарегистрироваться указав ваши ФИО, e-mail, телефон и ИНН. При этом для полноценной
                работы вам потребуется Квалифицированная Электронная Подпись.
              </div>
            </div>
          </div>
          <div class="faq__item">
            <button class="btn-reset faq__open collapsed" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
              <span>Личный кабинет на Маркетплейсе ВБЦ?</span>
              <svg width="24" height="24">
                <use xlink:href="assets/img/sprite.svg#icon-arrow-bottom"></use>
              </svg>
            </button>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="faq__content">
                Достаточно лишь зарегистрироваться указав ваши ФИО, e-mail, телефон и ИНН. При этом для полноценной
                работы вам потребуется Квалифицированная Электронная Подпись.
              </div>
            </div>
          </div>
          <div class="faq__item">
            <button class="btn-reset faq__open collapsed" data-toggle="collapse" data-target="#collapseFour"
                    aria-expanded="false" aria-controls="collapseTwo">
              <span>Личный кабинет на Маркетплейсе ВБЦ?</span>
              <svg width="24" height="24">
                <use xlink:href="assets/img/sprite.svg#icon-arrow-bottom"></use>
              </svg>
            </button>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
              <div class="faq__content">
                Достаточно лишь зарегистрироваться указав ваши ФИО, e-mail, телефон и ИНН. При этом для полноценной
                работы вам потребуется Квалифицированная Электронная Подпись.
              </div>
            </div>
          </div>
          <div class="faq__item">
            <button class="btn-reset faq__open collapsed" data-toggle="collapse" data-target="#collapseFive"
                    aria-expanded="false" aria-controls="collapseThree">
              <span> Личный кабинет на Маркетплейсе ВБЦ?</span>
              <svg width="24" height="24">
                <use xlink:href="assets/img/sprite.svg#icon-arrow-bottom"></use>
              </svg>
            </button>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
              <div class="faq__content">
                Достаточно лишь зарегистрироваться указав ваши ФИО, e-mail, телефон и ИНН. При этом для полноценной
                работы вам потребуется Квалифицированная Электронная Подпись.
              </div>
            </div>
          </div>
          <div class="faq__item">
            <button class="btn-reset faq__open collapsed" data-toggle="collapse" data-target="#collapseSix"
                    aria-expanded="false" aria-controls="collapseThree">
              <span> Личный кабинет на Маркетплейсе ВБЦ?</span>
              <svg width="24" height="24">
                <use xlink:href="assets/img/sprite.svg#icon-arrow-bottom"></use>
              </svg>
            </button>
            <div id="collapseSix" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
              <div class="faq__content">
                Достаточно лишь зарегистрироваться указав ваши ФИО, e-mail, телефон и ИНН. При этом для полноценной
                работы вам потребуется Квалифицированная Электронная Подпись.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="feedback">
          <p class="feedback__caption">Остались вопросы?</p>
          <p class="feedback__subcaption">Напишите и мы ответим в течении 5 минут</p>
          <form action="" class="form feedback__form">
            <label for="feed-phone" class="form__label">
              <span class="form__caption">номер телефона</span>
              <input type="tel" name="feed-phone" id="feed-phone" placeholder="+7 911-609-73-15"
                     class="form__input phone-mask">
            </label>
            <label for="feed-mess" class="form__label">
              <span class="form__caption">название поля</span>
              <textarea name="feed-mess" id="feed-mess" placeholder="При заполнении" class="form__textarea"></textarea>
            </label>
            <button class="btn-reset btn btn_blue form__submit" type="submit">Задать вопрос</button>
            <label for="conf" class="checkbox__label">
              <input type="checkbox" name="conf" id="conf" class="checkbox__input js-hero-checkbox" checked>
              <span class="checkbox__pane"></span>
              Я даю согласие на <a href="/">обработку моих персональных данных</a>
            </label>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
