<div class="filters js-mobile-filters ">

<!--  Новый блок раньше его вообще не было-->
  <!--  !!!Добавляем класс sub-in-hide-->
  <div class="mobile-menu__heading sub-in-hide filters__menu-heading">
    <p class="mobile-menu__title">Фильтры</p>
    <button class="btn-reset js-close-filters">
      <svg width="24" height="24">
        <use xlink:href="assets/img/sprite.svg#icon-close-big"></use>
      </svg>
    </button>
  </div>
<!--  Новый блок END-->
<!--  !!!Сюда кладем два мобильных фильтра раскрывающихся 30-11-2023 и меняем классы -->
  <div class="sub-filter-mobile js-sub-filter-station">
    <div class="mobile-menu__heading filters__menu-heading">
      <button class="btn-reset js-close-sub-filter close-sub-filters">
        <svg width="24" height="24">
          <use xlink:href="assets/img/sprite.svg#icon-arrow-bottom"></use>
        </svg>
      </button>
      <p class="mobile-menu__title">Марки электростанций</p>
      <button class="btn-reset js-close-filters">
        <svg width="24" height="24">
          <use xlink:href="assets/img/sprite.svg#icon-close-big"></use>
        </svg>
      </button>
    </div>
    <div class="mobile-menu__heading filters__menu-heading">
      <label for="filters-search" class="filters-search mobile-filter-popular__search">
        <input type="search" placeholder="Поиск электростанций" id="filters-search2"
               class="filters-search__input filters__input">
        <span class="filters-search__loup"></span>
      </label>
    </div>
    <div class="filters-check">
      <input class="filters-check__input" data-category="Марка электростанции" type="checkbox" data-jsvalue="AKSA"
             id="defaultCheckMob1">
      <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
             for="defaultCheckMob1">
        AKSA
      </label>
    </div>
    <div class="filters-check">
      <input class="filters-check__input" data-category="Марка электростанции" type="checkbox" data-jsvalue="Cummins"
             id="defaultCheckMob2">
      <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
             for="defaultCheckMob2">
        Cummins
      </label>
    </div>
    <div class="filters-check">
      <input class="filters-check__input" data-category="Марка электростанции" type="checkbox" data-jsvalue="Doosan"
             id="defaultCheckMob3">
      <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
             for="defaultCheckMob3">
        Doosan
      </label>
    </div>
    <div class="filters-check">
      <input class="filters-check__input" data-category="Марка электростанции" type="checkbox" data-jsvalue="Iveco FPT"
             id="defaultCheckMob4">
      <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
             for="defaultCheckMob4">
        Iveco FPT
      </label>
    </div>
    <div class="filters-check">
      <input class="filters-check__input" data-category="Марка электростанции" type="checkbox" data-jsvalue="Mitsubishi"
             id="defaultCheckMob5">
      <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
             for="defaultCheckMob5">
        Mitsubishi
      </label>
    </div>
    <div class="filters-check">
      <input class="filters-check__input" data-category="Марка электростанции" type="checkbox" data-jsvalue="Perkins"
             id="defaultCheckMob6">
      <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
             for="defaultCheckMob6">
        Perkins
      </label>
    </div>
    <div class="filters-check">
      <input class="filters-check__input" data-category="Марка электростанции" type="checkbox" data-jsvalue="AKSA"
             id="defaultCheckMob7">
      <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
             for="defaultCheckMob7">
        AKSA
      </label>
    </div>
    <div class="filters-check">
      <input class="filters-check__input" data-category="Марка электростанции" type="checkbox" data-jsvalue="Cummins"
             id="defaultCheckMob8">
      <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
             for="defaultCheckMob8">
        Cummins
      </label>
    </div>
    <div class="filters-check">
      <input class="filters-check__input" data-category="Марка электростанции" type="checkbox" data-jsvalue="Doosan"
             id="defaultCheckMob24">
      <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
             for="defaultCheckMob24">
        Doosan
      </label>
    </div>
    <div class="filters-check">
      <input class="filters-check__input" data-category="Марка электростанции" type="checkbox" data-jsvalue="Iveco FPT"
             id="defaultCheckMob9">
      <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
             for="defaultCheckMob9">
        Iveco FPT
      </label>
    </div>
    <div class="filters-check">
      <input class="filters-check__input" data-category="Марка электростанции" type="checkbox" data-jsvalue="Mitsubishi"
             id="defaultCheckMob10">
      <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
             for="defaultCheckMob10">
        Mitsubishi
      </label>
    </div>
    <div class="filters-check">
      <input class="filters-check__input" data-category="Марка электростанции" type="checkbox" data-jsvalue="Perkins"
             id="defaultCheckMob11">
      <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
             for="defaultCheckMob11">
        Perkins
      </label>
    </div>
    <div class="filters-check">
      <input class="filters-check__input" data-category="Марка электростанции" type="checkbox" data-jsvalue="AKSA"
             id="defaultCheckMob12">
      <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
             for="defaultCheckMob12">
        AKSA
      </label>
    </div>
    <div class="filters-check">
      <input class="filters-check__input" data-category="Марка электростанции" type="checkbox" data-jsvalue="Cummins"
             id="defaultCheckMob13">
      <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
             for="defaultCheckMob13">
        Cummins
      </label>
    </div>
    <div class="filters-check">
      <input class="filters-check__input" data-category="Марка электростанции" type="checkbox" data-jsvalue="Doosan"
             id="defaultCheckMob14">
      <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
             for="defaultCheckMob14">
        Doosan
      </label>
    </div>
    <div class="filters-check">
      <input class="filters-check__input" data-category="Марка электростанции" type="checkbox" data-jsvalue="Iveco FPT"
             id="defaultCheckMob15">
      <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
             for="defaultCheckMob15">
        Iveco FPT
      </label>
    </div>
    <div class="filters-check">
      <input class="filters-check__input" data-category="Марка электростанции" type="checkbox" data-jsvalue="Mitsubishi"
             id="defaultCheckMob16">
      <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
             for="defaultCheckMob16">
        Mitsubishi
      </label>
    </div>
    <div class="filters-check">
      <input class="filters-check__input" data-category="Марка электростанции" type="checkbox" data-jsvalue="Perkins"
             id="defaultCheckMob17">
      <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
             for="defaultCheckMob17">
        Perkins
      </label>
    </div>
    <div class="filters-check">
      <input class="filters-check__input" data-category="Марка электростанции" type="checkbox" data-jsvalue="AKSA"
             id="defaultCheckMob18">
      <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
             for="defaultCheckMob18">
        AKSA
      </label>
    </div>
    <div class="filters-check">
      <input class="filters-check__input" data-category="Марка электростанции" type="checkbox" data-jsvalue="Cummins"
             id="defaultCheckMob19">
      <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
             for="defaultCheckMob19">
        Cummins
      </label>
    </div>
    <div class="filters-check">
      <input class="filters-check__input" data-category="Марка электростанции" type="checkbox" data-jsvalue="Doosan"
             id="defaultCheckMob20">
      <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
             for="defaultCheckMob20">
        Doosan
      </label>
    </div>
    <div class="filters-check">
      <input class="filters-check__input" data-category="Марка электростанции" type="checkbox" data-jsvalue="Iveco FPT"
             id="defaultCheckMob211">
      <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
             for="defaultCheckMob211">
        Iveco FPT
      </label>
    </div>
    <div class="filters-check">
      <input class="filters-check__input" data-category="Марка электростанции" type="checkbox" data-jsvalue="Mitsubishi"
             id="defaultCheckMob22">
      <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
             for="defaultCheckMob22">
        Mitsubishi
      </label>
    </div>
    <div class="filters-check">
      <input class="filters-check__input" data-category="Марка электростанции" type="checkbox" data-jsvalue="Perkins"
             id="defaultCheckMob23">
      <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
             for="defaultCheckMob23">
        Perkins
      </label>
    </div>
  </div>
  <div class="sub-filter-mobile js-sub-filter-engine">
    <div class="mobile-menu__heading filters__menu-heading">
      <button class="btn-reset js-close-sub-filter close-sub-filters">
        <svg width="24" height="24">
          <use xlink:href="assets/img/sprite.svg#icon-arrow-bottom"></use>
        </svg>
      </button>
      <p class="mobile-menu__title">Марки двигателей</p>
      <button class="btn-reset js-close-filters">
        <svg width="24" height="24">
          <use xlink:href="assets/img/sprite.svg#icon-close-big"></use>
        </svg>
      </button>
    </div>
    <div class="mobile-menu__heading filters__menu-heading">
      <label for="filters-search" class="filters-search mobile-filter-popular__search">
        <input type="search" placeholder="Поиск двигателей" id="filters-search4"
               class="filters-search__input filters__input">
        <span class="filters-search__loup"></span>
      </label>
    </div>
    <div class="filters-check">
      <input class="filters-check__input" data-category="Марка двигателя" type="checkbox" data-jsvalue="data-jsvalueAKSA (Турция)"
             id="defaultCheckMob201">
      <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
             for="defaultCheckMob201">
        AKSA (Турция)
      </label>
    </div>
    <div class="filters-check">
      <input class="filters-check__input" data-category="Марка двигателя" type="checkbox"
             data-jsvalue="Baudouin (Франция-Китай)" id="defaultCheckMob202">
      <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
             for="defaultCheckMob202">
        Baudouin (Франция-Китай)
      </label>
    </div>
    <div class="filters-check">
      <input class="filters-check__input" data-category="Марка двигателя" type="checkbox" data-jsvalue="Cummins (США)"
             id="defaultCheckMob203">
      <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
             for="defaultCheckMob203">
        Cummins (США)
      </label>
    </div>
    <div class="filters-check">
      <input class="filters-check__input" data-category="Марка двигателя" type="checkbox"
             data-jsvalue="Cummins-China (США-Китай)" id="defaultCheckMob204">
      <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
             for="defaultCheckMob204">
        Cummins-China (США-Китай)
      </label>
    </div>
    <div class="filters-check">
      <input class="filters-check__input" data-category="Марка двигателя" type="checkbox" data-jsvalue="Doosan (Корея)"
             id="defaultCheckMob505">
      <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
             for="defaultCheckMob505">
        Doosan (Корея)
      </label>
    </div>
    <div class="filters-check">
      <input class="filters-check__input" data-category="Марка двигателя" type="checkbox" data-jsvalue="Iveco FPT (Италия)"
             id="defaultCheckMob506">
      <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
             for="defaultCheckMob506">
        Iveco FPT (Италия)
      </label>
    </div>
    <div class="filters-check">
      <input class="filters-check__input" data-category="Марка двигателя" type="checkbox" data-jsvalue="data-jsvalueAKSA (Турция)"
             id="defaultCheckMob20111">
      <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
             for="defaultCheckMob20111">
        AKSA (Турция)
      </label>
    </div>
    <div class="filters-check">
      <input class="filters-check__input" data-category="Марка двигателя" type="checkbox"
             data-jsvalue="Baudouin (Франция-Китай)" id="defaultCheckMob20211">
      <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
             for="defaultCheckMob20211">
        Baudouin (Франция-Китай)
      </label>
    </div>
    <div class="filters-check">
      <input class="filters-check__input" data-category="Марка двигателя" type="checkbox" data-jsvalue="Cummins (США)"
             id="defaultCheckMob20311">
      <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
             for="defaultCheckMob20311">
        Cummins (США)
      </label>
    </div>
    <div class="filters-check">
      <input class="filters-check__input" data-category="Марка двигателя" type="checkbox"
             data-jsvalue="Cummins-China (США-Китай)" id="defaultCheckMob20411">
      <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
             for="defaultCheckMob20411">
        Cummins-China (США-Китай)
      </label>
    </div>
    <div class="filters-check">
      <input class="filters-check__input" data-category="Марка двигателя" type="checkbox" data-jsvalue="Doosan (Корея)"
             id="defaultCheckMob50511">
      <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
             for="defaultCheckMob5051">
        Doosan (Корея)
      </label>
    </div>
    <div class="filters-check">
      <input class="filters-check__input" data-category="Марка двигателя" type="checkbox" data-jsvalue="Iveco FPT (Италия)"
             id="defaultCheckMob50611">
      <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
             for="defaultCheckMob5061">
        Iveco FPT (Италия)
      </label>
    </div>
    <div class="filters-check">
      <input class="filters-check__input" data-category="Марка двигателя" type="checkbox" data-jsvalue="data-jsvalueAKSA (Турция)"
             id="defaultCheckMob2011">
      <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
             for="defaultCheckMob2011">
        AKSA (Турция)
      </label>
    </div>
    <div class="filters-check">
      <input class="filters-check__input" data-category="Марка двигателя" type="checkbox"
             data-jsvalue="Baudouin (Франция-Китай)" id="defaultCheckMob2021">
      <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
             for="defaultCheckMob2021">
        Baudouin (Франция-Китай)
      </label>
    </div>
    <div class="filters-check">
      <input class="filters-check__input" data-category="Марка двигателя" type="checkbox" data-jsvalue="Cummins (США)"
             id="defaultCheckMob2031">
      <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
             for="defaultCheckMob2031">
        Cummins (США)
      </label>
    </div>
    <div class="filters-check">
      <input class="filters-check__input" data-category="Марка двигателя" type="checkbox"
             data-jsvalue="Cummins-China (США-Китай)" id="defaultCheckMob2041">
      <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
             for="defaultCheckMob2041">
        Cummins-China (США-Китай)
      </label>
    </div>
    <div class="filters-check">
      <input class="filters-check__input" data-category="Марка двигателя" type="checkbox" data-jsvalue="Doosan (Корея)"
             id="defaultCheckMob5051">
      <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
             for="defaultCheckMob5051">
        Doosan (Корея)
      </label>
    </div>
    <div class="filters-check">
      <input class="filters-check__input" data-category="Марка двигателя" type="checkbox" data-jsvalue="Iveco FPT (Италия)"
             id="defaultCheckMob5061">
      <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
             for="defaultCheckMob5061">
        Iveco FPT (Италия)
      </label>
    </div>
  </div>
  <!--  !!!Сюда кладем два мобильных фильтра раскрывающихся 30-11-2023 и меняем классы END-->
  <div class="filters__item filters__item_check">
    <div class="filters__heading" data-toggle="collapse" data-target="#filItm1">
      <p class="filters__caption filters__caption_check">Исполнение</p>
      <svg width="24" height="24">
        <use xlink:href="assets/img/sprite.svg#icon-arrow-bottom"></use>
      </svg>
    </div>
    <div class="filters__hide collapse show" id="filItm1">
      <div class="filters-check">
        <input class="filters-check__input" data-category="Исполнение" type="checkbox" data-jsvalue="Открытые на раме"
               id="defaultCheck1">
        <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
               for="defaultCheck1">
          Открытые на раме
        </label>
      </div>
      <div class="filters-check">
        <input class="filters-check__input" data-category="Исполнение" type="checkbox"
               data-jsvalue="В контейнере на базе морского" id="defaultCheck2">
        <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
               for="defaultCheck2">
          В контейнере на базе морского
        </label>
      </div>
      <div class="filters-check">
        <input class="filters-check__input" data-category="Исполнение" type="checkbox"
               data-jsvalue="В контейнере из сендвич панелей" id="defaultCheck3">
        <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
               for="defaultCheck3">
          В контейнере из сендвич панелей
        </label>
      </div>
      <div class="filters-check">
        <input class="filters-check__input" data-category="Исполнение" type="checkbox" data-jsvalue="В кожухе шумозащитном"
               id="defaultCheck4">
        <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
               for="defaultCheck4">
          В кожухе шумозащитном
        </label>
      </div>
      <div class="filters-check">
        <input class="filters-check__input" data-category="Исполнение" type="checkbox" data-jsvalue="В кожухе шумозащитном"
               id="defaultCheck5">
        <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
               for="defaultCheck5">
          В кожухе шумозащитном
        </label>
      </div>
      <div class="filters-check">
        <input class="filters-check__input" data-category="Исполнение" type="checkbox" data-jsvalue="В капоте погодозащитном"
               id="defaultCheck6">
        <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
               for="defaultCheck6">
          В капоте погодозащитном
        </label>
      </div>
      <div class="filters-check">
        <input class="filters-check__input" data-category="" type="checkbox" data-jsvalue="В мини-контейнере"
               id="defaultCheck20">
        <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
               for="defaultCheck20">
          В мини-контейнере
        </label>
      </div>
    </div>
  </div>
  <div class="filters__item filters__item_check">
    <div class="filters__heading" data-toggle="collapse" data-target="#filItm2">
      <p class="filters__caption filters__caption_check">Особенности исполнения</p>
      <svg width="24" height="24">
        <use xlink:href="assets/img/sprite.svg#icon-arrow-bottom"></use>
      </svg>
    </div>
    <div class="filters__hide collapse show" id="filItm2">
      <div class="filters-check">
        <input class="filters-check__input" data-category="Особенности исполнения" type="checkbox"
               data-jsvalue="На шасси (передвижной)" id="defaultCheck7" disabled>
        <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
               for="defaultCheck7">
          На шасси (передвижной)
        </label>
      </div>
      <div class="filters-check">
        <input class="filters-check__input" data-category="Особенности исполнения" type="checkbox"
               data-jsvalue="1 степень (ручной запуск)" id="defaultCheck8">
        <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
               for="defaultCheck8">
          1 степень (ручной запуск)
        </label>
      </div>
      <div class="filters-check">
        <input class="filters-check__input" data-category="Особенности исполнения" type="checkbox"
               data-jsvalue="2 степень (с АВР, автозапуск)" id="defaultCheck9">
        <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
               for="defaultCheck9">
          2 степень (с АВР, автозапуск)
        </label>
      </div>
    </div>
  </div>
  <div class="filters__item">
    <div class="filters__heading" data-toggle="collapse" data-target="#filItm3">
      <p class="filters__caption">Выбор мощности, кВт</p>
      <svg width="24" height="24">
        <use xlink:href="assets/img/sprite.svg#icon-arrow-bottom"></use>
      </svg>
    </div>
    <div class="filters__hide collapse show" id="filItm3">
      <div class="filters__group">
        <label for="power-from" class="filters__label">
          <span class="filters__label--caption">от</span>
          <input type="number" min="10" data-jsvalue="10" class="filters__input" id="power-from">
        </label>
        <hr>
        <label for="power-to" class="filters__label">
          <span class="filters__label--caption">до</span>
          <input type="number" max="3200" data-jsvalue="3200" class="filters__input" id="power-to">
        </label>
      </div>
    </div>
  </div>
  <div class="filters__item filters__item_pwr">
    <!--    Добавлям класс collapsed-->
    <div class="filters__heading" data-toggle="collapse" data-target="#filItm4">
      <p class="filters__caption">Подбор по мощности, кВт</p>
      <svg width="24" height="24">
        <use xlink:href="assets/img/sprite.svg#icon-arrow-bottom"></use>
      </svg>
    </div>
<!--    Добавлям класс блоку  d-lg-block d-none-->
    <div class="filters__hide collapse show d-lg-block d-none" id="filItm4">
      <label for="filters-search" class="filters-search">
        <input type="search" placeholder="Поиск по мощности" id="filters-search"
               class="filters-search__input filters__input">
        <span class="filters-search__loup"></span>
      </label>
    </div>
  </div>
  <div class="filters__item filters__item_pwr">
    <div class="filters__heading collapsed" data-toggle="collapse" data-target="#filPwr1">
      <p class="filters__caption filters__caption_bold">10-55 кВт</p>
      <svg width="24" height="24">
        <use xlink:href="assets/img/sprite.svg#icon-arrow-bottom"></use>
      </svg>
    </div>
    <div class="filters__hide collapse" id="filPwr1">
      <ul class="filters__pwr-list">
        <li class="filters__pwr-item"><a href="">10 кВт</a></li>
        <li class="filters__pwr-item"><a href="">11 кВт</a></li>
        <li class="filters__pwr-item"><a href="">12 кВт</a></li>
        <li class="filters__pwr-item"><a href="">13 кВт</a></li>
        <li class="filters__pwr-item"><a href="">14 кВт</a></li>
        <li class="filters__pwr-item"><a href="">15 кВт</a></li>
        <li class="filters__pwr-item"><a href="">16 кВт</a></li>
        <li class="filters__pwr-item"><a href="">17 кВт</a></li>
        <li class="filters__pwr-item"><a href="">18 кВт</a></li>
        <li class="filters__pwr-item"><a href="">19 кВт</a></li>
        <li class="filters__pwr-item"><a href="">20 кВт</a></li>
        <li class="filters__pwr-item"><a href="">22 кВт</a></li>
        <li class="filters__pwr-item"><a href="">23 кВт</a></li>
        <li class="filters__pwr-item"><a href="">24 кВт</a></li>
        <li class="filters__pwr-item"><a href="">25 кВт</a></li>
        <li class="filters__pwr-item"><a href="">27 кВт</a></li>
        <li class="filters__pwr-item"><a href="">28 кВт</a></li>
        <li class="filters__pwr-item"><a href="">30 кВт</a></li>
        <li class="filters__pwr-item"><a href="">32 кВт</a></li>
        <li class="filters__pwr-item"><a href="">35 кВт</a></li>
        <li class="filters__pwr-item"><a href="">36 кВт</a></li>
        <li class="filters__pwr-item"><a href="">37 кВт</a></li>
        <li class="filters__pwr-item"><a href="">38 кВт</a></li>
        <li class="filters__pwr-item"><a href="">40 кВт</a></li>
        <li class="filters__pwr-item"><a href="">45 кВт</a></li>
        <li class="filters__pwr-item"><a href="">48 кВт</a></li>
        <li class="filters__pwr-item"><a href="">50 кВт</a></li>
        <li class="filters__pwr-item"><a href="">55 кВт</a></li>
      </ul>
    </div>
  </div>
  <!--    Добавлям класс collapsed-->
  <div class="filters__item filters__item_pwr">
    <div class="filters__heading collapsed" data-toggle="collapse" data-target="#filPwr2">
      <p class="filters__caption filters__caption_bold">60-184 кВт</p>
      <svg width="24" height="24">
        <use xlink:href="assets/img/sprite.svg#icon-arrow-bottom"></use>
      </svg>
    </div>
    <div class="filters__hide collapse" id="filPwr2">
      <ul class="filters__pwr-list">
        <li class="filters__pwr-item"><a href="">60 кВт</a></li>
        <li class="filters__pwr-item"><a href="">64 кВт</a></li>
        <li class="filters__pwr-item"><a href="">65 кВт</a></li>
        <li class="filters__pwr-item"><a href="">70 кВт</a></li>
        <li class="filters__pwr-item"><a href="">72 кВт</a></li>
        <li class="filters__pwr-item"><a href="">75 кВт</a></li>
        <li class="filters__pwr-item"><a href="">80 кВт</a></li>
        <li class="filters__pwr-item"><a href="">90 кВт</a></li>
        <li class="filters__pwr-item"><a href="">96 кВт</a></li>
        <li class="filters__pwr-item"><a href="">100 кВт</a></li>
        <li class="filters__pwr-item"><a href="">110 кВт</a></li>
        <li class="filters__pwr-item"><a href="">120 кВт</a></li>
        <li class="filters__pwr-item"><a href="">128 кВт</a></li>
        <li class="filters__pwr-item"><a href="">130 кВт</a></li>
        <li class="filters__pwr-item"><a href="">150 кВт</a></li>
        <li class="filters__pwr-item"><a href="">160 кВт</a></li>
        <li class="filters__pwr-item"><a href="">180 кВт</a></li>
        <li class="filters__pwr-item"><a href="">184 кВт</a></li>
      </ul>
    </div>
  </div>
  <!--    Добавлям класс collapsed-->
  <div class="filters__item filters__item_pwr">
    <div class="filters__heading collapsed" data-toggle="collapse" data-target="#filPwr3">
      <p class="filters__caption filters__caption_bold">200-550 кВт</p>
      <svg width="24" height="24">
        <use xlink:href="assets/img/sprite.svg#icon-arrow-bottom"></use>
      </svg>
    </div>
    <div class="filters__hide collapse" id="filPwr3">
      <ul class="filters__pwr-list">
        <li class="filters__pwr-item"><a href="">200 кВт</a></li>
        <li class="filters__pwr-item"><a href="">220 кВт</a></li>
        <li class="filters__pwr-item"><a href="">240 кВт</a></li>
        <li class="filters__pwr-item"><a href="">250 кВт</a></li>
        <li class="filters__pwr-item"><a href="">256 кВт</a></li>
        <li class="filters__pwr-item"><a href="">280 кВт</a></li>
        <li class="filters__pwr-item"><a href="">300 кВт</a></li>
        <li class="filters__pwr-item"><a href="">315 кВт</a></li>
        <li class="filters__pwr-item"><a href="">320 кВт</a></li>
        <li class="filters__pwr-item"><a href="">350 кВт</a></li>
        <li class="filters__pwr-item"><a href="">360 кВт</a></li>
        <li class="filters__pwr-item"><a href="">400 кВт</a></li>
        <li class="filters__pwr-item"><a href="">440 кВт</a></li>
        <li class="filters__pwr-item"><a href="">450 кВт</a></li>
        <li class="filters__pwr-item"><a href="">480 кВт</a></li>
        <li class="filters__pwr-item"><a href="">500 кВт</a></li>
        <li class="filters__pwr-item"><a href="">504 кВт</a></li>
        <li class="filters__pwr-item"><a href="">550 кВт</a></li>
      </ul>
    </div>
  </div>
  <!--    Добавлям класс collapsed-->
  <div class="filters__item filters__item_pwr">
    <div class="filters__heading collapsed" data-toggle="collapse" data-target="#filPwr4">
      <p class="filters__caption filters__caption_bold">560-1300 кВт</p>
      <svg width="24" height="24">
        <use xlink:href="assets/img/sprite.svg#icon-arrow-bottom"></use>
      </svg>
    </div>
    <div class="filters__hide collapse" id="filPwr4">
      <ul class="filters__pwr-list">
        <li class="filters__pwr-item"><a href="">560 кВт</a></li>
        <li class="filters__pwr-item"><a href="">600 кВт</a></li>
        <li class="filters__pwr-item"><a href="">630 кВт</a></li>
        <li class="filters__pwr-item"><a href="">650 кВт</a></li>
        <li class="filters__pwr-item"><a href="">700 кВт</a></li>
        <li class="filters__pwr-item"><a href="">750 кВт</a></li>
        <li class="filters__pwr-item"><a href="">880 кВт</a></li>
        <li class="filters__pwr-item"><a href="">900 кВт</a></li>
        <li class="filters__pwr-item"><a href="">960 кВт</a></li>
        <li class="filters__pwr-item"><a href="">1000 кВт</a></li>
        <li class="filters__pwr-item"><a href="">1040 кВт</a></li>
        <li class="filters__pwr-item"><a href="">1100 кВт</a></li>
        <li class="filters__pwr-item"><a href="">1200 кВт</a></li>
        <li class="filters__pwr-item"><a href="">1280 кВт</a></li>
        <li class="filters__pwr-item"><a href="">1300 кВт</a></li>
      </ul>
    </div>
  </div>
  <!--    Добавлям класс collapsed-->
  <div class="filters__item filters__item_pwr">
    <!--    Добавлям класс collapsed-->
    <div class="filters__heading collapsed" data-toggle="collapse" data-target="#filPwr5">
      <p class="filters__caption filters__caption_bold">1400-3200 кВт</p>
      <svg width="24" height="24">
        <use xlink:href="assets/img/sprite.svg#icon-arrow-bottom"></use>
      </svg>
    </div>
    <div class="filters__hide collapse" id="filPwr5">
      <ul class="filters__pwr-list">
        <li class="filters__pwr-item"><a href="">1400 кВт</a></li>
        <li class="filters__pwr-item"><a href="">1500 кВт</a></li>
        <li class="filters__pwr-item"><a href="">1600 кВт</a></li>
        <li class="filters__pwr-item"><a href="">1700 кВт</a></li>
        <li class="filters__pwr-item"><a href="">1800 кВт</a></li>
        <li class="filters__pwr-item"><a href="">1900 кВт</a></li>
        <li class="filters__pwr-item"><a href="">2000 кВт</a></li>
        <li class="filters__pwr-item"><a href="">2100 кВт</a></li>
        <li class="filters__pwr-item"><a href="">2200 кВт</a></li>
        <li class="filters__pwr-item"><a href="">2300 кВт</a></li>
        <li class="filters__pwr-item"><a href="">2500 кВт</a></li>
        <li class="filters__pwr-item"><a href="">3200 кВт</a></li>
      </ul>
    </div>
  </div>
  <div class="filters__item filters__item_check">
    <div class="filters__heading" data-toggle="collapse" data-target="#filItm5">
      <p class="filters__caption filters__caption_check">Напряжение тока</p>
      <svg width="24" height="24">
        <use xlink:href="assets/img/sprite.svg#icon-arrow-bottom"></use>
      </svg>
    </div>
    <div class="filters__hide collapse show" id="filItm5">
      <div class="filters-check">
        <input class="filters-check__input" data-category="Напряжение тока" type="checkbox" data-jsvalue="400/230В"
               id="defaultCheck10">
        <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
               for="defaultCheck10">
          400/230В
        </label>
      </div>
      <div class="filters-check">
        <input class="filters-check__input" data-category="Напряжение тока" type="checkbox" data-jsvalue="230В"
               id="defaultCheck11">
        <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
               for="defaultCheck11">
          230В
        </label>
      </div>
      <div class="filters-check">
        <input class="filters-check__input" data-category="Напряжение тока" type="checkbox" data-jsvalue="6300В"
               id="defaultCheck12">
        <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
               for="defaultCheck12">
          6300В
        </label>
      </div>
      <div class="filters-check">
        <input class="filters-check__input" data-category="Напряжение тока" type="checkbox" data-jsvalue="10500В"
               id="defaultCheck13">
        <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
               for="defaultCheck13">
          10500В
        </label>
      </div>
    </div>
  </div>
  <div class="filters__item filters__item_check">
    <div class="filters__heading" data-toggle="collapse" data-target="#filItm6">
      <p class="filters__caption">Марка электростанции</p>
<!--      Новый блок-обертка-->
      <div class="filters__heading-left">
<!--        добавляем кнопку в мобилке она тут появляется. Она окткрывает доп меню со всеми марками в мобильной версии -->
      <button class=" btn-reset filters__caption-all js-open-station-filters">Все</button>
      <svg width="24" height="24">
        <use xlink:href="assets/img/sprite.svg#icon-arrow-bottom"></use>
      </svg>
      </div>
      <!--      Новый блок-обертка END-->
    </div>

    <div class="filters__hide collapse show" id="filItm6">
      <div class="filters-check">
        <input class="filters-check__input" data-category="Марка электростанции" type="checkbox" data-jsvalue="AKSA"
               id="defaultCheck114">
        <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
               for="defaultCheck114">
          AKSA
        </label>
      </div>
      <div class="filters-check">
        <input class="filters-check__input" data-category="Марка электростанции" type="checkbox" data-jsvalue="Cummins"
               id="defaultCheck115">
        <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
               for="defaultCheck115">
          Cummins
        </label>
      </div>
      <div class="filters-check">
        <input class="filters-check__input" data-category="Марка электростанции" type="checkbox" data-jsvalue="Doosan"
               id="defaultCheck16">
        <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
               for="defaultCheck16">
          Doosan
        </label>
      </div>
      <div class="filters-check">
        <input class="filters-check__input" data-category="Марка электростанции" type="checkbox" data-jsvalue="Iveco FPT"
               id="defaultCheck127">
        <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
               for="defaultCheck127">
          Iveco FPT
        </label>
      </div>
      <div class="filters-check">
        <input class="filters-check__input" data-category="Марка электростанции" type="checkbox" data-jsvalue="Mitsubishi"
               id="defaultCheck18">
        <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
               for="defaultCheck18">
          Mitsubishi
        </label>
      </div>
      <div class="filters-check">
        <input class="filters-check__input" data-category="Марка электростанции" type="checkbox" data-jsvalue="Perkins"
               id="defaultCheck119">
        <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
               for="defaultCheck119">
          Perkins
        </label>
      </div>
      <div class="collapse" id="filtItm6-in">
        <div class="filters-check">
          <input class="filters-check__input" data-category="Марка электростанции" type="checkbox" data-jsvalue="AKSA"
                 id="defaultCheck14">
          <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
                 for="defaultCheck14">
            AKSA
          </label>
        </div>
        <div class="filters-check">
          <input class="filters-check__input" data-category="Марка электростанции" type="checkbox" data-jsvalue="Cummins"
                 id="defaultCheck185">
          <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
                 for="defaultCheck185">
            Cummins
          </label>
        </div>
        <div class="filters-check">
          <input class="filters-check__input" data-category="Марка электростанции" type="checkbox" data-jsvalue="Doosan"
                 id="defaultCheck116">
          <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
                 for="defaultCheck116">
            Doosan
          </label>
        </div>
        <div class="filters-check">
          <input class="filters-check__input" data-category="Марка электростанции" type="checkbox" data-jsvalue="Iveco FPT"
                 id="defaultCheck137">
          <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
                 for="defaultCheck137">
            Iveco FPT
          </label>
        </div>
        <div class="filters-check">
          <input class="filters-check__input" data-category="Марка электростанции" type="checkbox" data-jsvalue="Mitsubishi"
                 id="defaultCheck118">
          <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
                 for="defaultCheck118">
            Mitsubishi
          </label>
        </div>
        <div class="filters-check">
          <input class="filters-check__input" data-category="Марка электростанции" type="checkbox" data-jsvalue="Perkins"
                 id="defaultCheckMob219">
          <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
                 for="defaultCheckMob219">
            Perkins
          </label>
        </div>
      </div>
<!--      Добавляем класс d-none d-lg-block-->
      <button class="btn-reset filters__showall js-filters-showall d-none d-lg-block" data-toggle="collapse" data-target="#filtItm6-in">
        Показать все
      </button>
    </div>
  </div>
  <div class="filters__item filters__item_check">
    <div class="filters__heading" data-toggle="collapse" data-target="#filItm7">
      <p class="filters__caption">Марка двигателя</p>
      <!--      Новый блок-обертка-->
      <div class="filters__heading-left">
        <!--        добавляем кнопку, в мобилке она тут появляется. Она окткрывает доп меню со всеми марками в мобильной версии -->
      <button class=" btn-reset filters__caption-all js-open-engine-filters">Все</button>
        <svg width="24" height="24">
          <use xlink:href="assets/img/sprite.svg#icon-arrow-bottom"></use>
        </svg>
      </div>
      <!--      Новый блок-обертка END-->
    </div>
    <div class="filters__hide collapse show" id="filItm7">
      <div class="filters-check">
        <input class="filters-check__input" data-category="Марка двигателя" type="checkbox" data-jsvalue="data-jsvalueAKSA (Турция)"
               id="defaultCheckMob21">
        <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
               for="defaultCheckMob21">
          AKSA (Турция)
        </label>
      </div>
      <div class="filters-check">
        <input class="filters-check__input" data-category="Марка двигателя" type="checkbox"
               data-jsvalue="Baudouin (Франция-Китай)" id="defaultCheck22">
        <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
               for="defaultCheck22">
          Baudouin (Франция-Китай)
        </label>
      </div>
      <div class="filters-check">
        <input class="filters-check__input" data-category="Марка двигателя" type="checkbox" data-jsvalue="Cummins (США)"
               id="defaultCheck23">
        <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
               for="defaultCheck23">
          Cummins (США)
        </label>
      </div>
      <div class="filters-check">
        <input class="filters-check__input" data-category="Марка двигателя" type="checkbox"
               data-jsvalue="Cummins-China (США-Китай)" id="defaultCheck24">
        <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
               for="defaultCheck24">
          Cummins-China (США-Китай)
        </label>
      </div>
      <div class="filters-check">
        <input class="filters-check__input" data-category="Марка двигателя" type="checkbox" data-jsvalue="Doosan (Корея)"
               id="defaultCheck55">
        <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
               for="defaultCheck55">
          Doosan (Корея)
        </label>
      </div>
      <div class="filters-check">
        <input class="filters-check__input" data-category="Марка двигателя" type="checkbox" data-jsvalue="Iveco FPT (Италия)"
               id="defaultCheck56">
        <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
               for="defaultCheck56">
          Iveco FPT (Италия)
        </label>
      </div>
      <div class="collapse" id="filtItm7-in">
        <div class="filters-check">
          <input class="filters-check__input" data-category="Марка двигателя" type="checkbox" data-jsvalue="AKSA (Турция)"
                 id="defaultCheck38">
          <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
                 for="defaultCheck38">
            AKSA (Турция)
          </label>
        </div>
        <div class="filters-check">
          <input class="filters-check__input" data-category="Марка двигателя" type="checkbox"
                 data-jsvalue="Baudouin (Франция-Китай)" id="defaultCheck42">
          <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
                 for="defaultCheck42">
            Baudouin (Франция-Китай)
          </label>
        </div>
        <div class="filters-check">
          <input class="filters-check__input" data-category="Марка двигателя" type="checkbox" data-jsvalue="Cummins (США)"
                 id="defaultCheck43">
          <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
                 for="defaultCheck43">
            Cummins (США)
          </label>
        </div>
        <div class="filters-check">
          <input class="filters-check__input" data-category="Марка двигателя" type="checkbox"
                 data-jsvalue="Cummins-China (США-Китай)" id="defaultCheck54">
          <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
                 for="defaultCheck54">
            Cummins-China (США-Китай)
          </label>
        </div>
        <div class="filters-check">
          <input class="filters-check__input" data-category="Марка двигателя" type="checkbox" data-jsvalue="Doosan (Корея)"
                 id="defaultCheck25">
          <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
                 for="defaultCheck25">
            Doosan (Корея)
          </label>
        </div>
        <div class="filters-check">
          <input class="filters-check__input" data-category="Марка двигателя" type="checkbox" data-jsvalue="Iveco FPT (Италия)"
                 id="defaultCheck46">
          <label class="filters-check__label" data-toggle="tooltip" title="Найдено <a href='home.html'>86 моделей</a>"
                 for="defaultCheck46">
            Iveco FPT (Италия)
          </label>
        </div>
      </div>
      <!--      Добавляем класс d-none d-lg-block-->
      <button class="btn-reset filters__showall js-filters-showall d-none d-lg-block" data-toggle="collapse" data-target="#filtItm7-in">
        Показать все
      </button>
    </div>
  </div>
  <div class="filters__item">
    <div class="filters__heading" data-toggle="collapse" data-target="#filItm8">
      <p class="filters__caption">Длина, мм</p>
      <svg width="24" height="24">
        <use xlink:href="assets/img/sprite.svg#icon-arrow-bottom"></use>
      </svg>
    </div>
    <div class="filters__hide collapse show" id="filItm8">
      <div class="filters__group">
        <label for="power-from" class="filters__label">
          <span class="filters__label--caption">от</span>
          <input type="number" data-jsvalue="500" class="filters__input" id="length-from">
        </label>
        <hr>
        <label for="power-to" class="filters__label">
          <span class="filters__label--caption">до</span>
          <input type="number" data-jsvalue="5425" class="filters__input" id="length-to">
        </label>
      </div>
    </div>
  </div>
  <div class="filters__item">
    <div class="filters__heading" data-toggle="collapse" data-target="#filItm9">
      <p class="filters__caption">Ширина, мм</p>
      <svg width="24" height="24">
        <use xlink:href="assets/img/sprite.svg#icon-arrow-bottom"></use>
      </svg>
    </div>
    <div class="filters__hide collapse show" id="filItm9">
      <div class="filters__group">
        <label for="power-from" class="filters__label">
          <span class="filters__label--caption">от</span>
          <input type="number" data-jsvalue="500" class="filters__input" id="width-from">
        </label>
        <hr>
        <label for="power-to" class="filters__label">
          <span class="filters__label--caption">до</span>
          <input type="number" data-jsvalue="5425" class="filters__input" id="width-to">
        </label>
      </div>
    </div>
  </div>
  <div class="filters__item">
    <div class="filters__heading" data-toggle="collapse" data-target="#filItm10">
      <p class="filters__caption">Высота, мм</p>
      <svg width="24" height="24">
        <use xlink:href="assets/img/sprite.svg#icon-arrow-bottom"></use>
      </svg>
    </div>
    <div class="filters__hide collapse show" id="filItm10">
      <div class="filters__group">
        <label for="power-from" class="filters__label">
          <span class="filters__label--caption">от</span>
          <input type="number" data-jsvalue="500" class="filters__input" id="height-from">
        </label>
        <hr>
        <label for="power-to" class="filters__label">
          <span class="filters__label--caption">до</span>
          <input type="number" data-jsvalue="5425" class="filters__input" id="height-to">
        </label>
      </div>
    </div>
  </div>
  <button class="btn-reset btn btn_blue filters__submit">
    <svg width="24" height="24">
      <use xlink:href="assets/img/sprite.svg#icon-loup"></use>
    </svg>
    Подобрать
  </button>
  <button class="btn-reset btn btn_grey filters__reset">
    <svg width="24" height="24">
      <use xlink:href="assets/img/sprite.svg#icon-close-big"></use>
    </svg>
    Сбросить все фильтры
  </button>
  <!--      Добавляем класс d-none d-lg-block-->
  <div class="filters__item d-none d-lg-block">
      <div class="filters__heading" data-toggle="collapse" data-target="#filItm11">
        <p class="filters__caption">Популярные подборки</p>
        <svg width="24" height="24">
          <use xlink:href="assets/img/sprite.svg#icon-arrow-bottom"></use>
        </svg>
      </div>
      <div class="filters__hide collapse show" id="filItm11">
        <div class="filters__group filters__collections" data-simplebar data-simplebar-auto-hide="false">
          <a href="" class="filters__link">Двигатель 1500 об/мин</a>
          <a href="" class="filters__link">С водяным охлаждением</a>
          <a href="" class="filters__link">Бесшумные</a>
          <a href="" class="filters__link">Блочные</a>
          <a href="" class="filters__link">Аварийные</a>
          <a href="" class="filters__link">Автономные</a>
          <a href="" class="filters__link">Промышленные</a>
          <a href="" class="filters__link">Резервные</a>
          <a href="" class="filters__link">Уличные</a>
          <a href="" class="filters__link">///</a>
          <a href="" class="filters__link">///</a>
          <a href="" class="filters__link">///</a>
          <a href="" class="filters__link">///</a>
          <a href="" class="filters__link">///</a>
          <a href="" class="filters__link">///</a>
          <a href="" class="filters__link">///</a>
          <a href="" class="filters__link">///</a>
          <a href="" class="filters__link">///</a>
          <a href="" class="filters__link">///</a>
          <a href="" class="filters__link">///</a>
          <a href="" class="filters__link">///</a>
        </div>
      </div>
    </div>
  </div>


<!--Три новых блока. Открываются как отдельное меню фильтров. Популярные подборки открываются по кнопке рядом с сортировкой. Марки по новым кнопкам в самом фильтре рядом с названием-->
<div class="mobile-filter-popular menu-filters js-mobile-filter-popular d-block d-lg-none">
  <div class="mobile-menu__heading filters__menu-heading">
    <p class="mobile-menu__title">Популярные подборки</p>
    <button class="btn-reset js-close-filters">
      <svg width="24" height="24">
        <use xlink:href="assets/img/sprite.svg#icon-close-big"></use>
      </svg>
    </button>
  </div>
  <div class="filters__item ">
    <div class="mobile-menu__heading filters__menu-heading">
    <label for="filters-search" class="filters-search mobile-filter-popular__search">
      <input type="search" placeholder="Поиск по мощности" id="filters-search3"
             class="filters-search__input filters__input">
      <span class="filters-search__loup"></span>
    </label>
    </div>
    <div class="filters__hide" id="filItm11Mob">
      <div class="filters__group filters__collections" data-simplebar data-simplebar-auto-hide="false">
        <a href="" class="filters__link">Двигатель 1500 об/мин</a>
        <a href="" class="filters__link">С водяным охлаждением</a>
        <a href="" class="filters__link">Бесшумные</a>
        <a href="" class="filters__link">Блочные</a>
        <a href="" class="filters__link">Аварийные</a>
        <a href="" class="filters__link">Автономные</a>
        <a href="" class="filters__link">Промышленные</a>
        <a href="" class="filters__link">Резервные</a>
        <a href="" class="filters__link">Уличные</a>
        <a href="" class="filters__link">///</a>
        <a href="" class="filters__link">///</a>
        <a href="" class="filters__link">///</a>
        <a href="" class="filters__link">///</a>
        <a href="" class="filters__link">///</a>
        <a href="" class="filters__link">///</a>
        <a href="" class="filters__link">///</a>
        <a href="" class="filters__link">///</a>
        <a href="" class="filters__link">///</a>
        <a href="" class="filters__link">///</a>
        <a href="" class="filters__link">///</a>
        <a href="" class="filters__link">///</a>
      </div>
    </div>
  </div>
</div>


