<footer class="footer">
  <div class="container">
    <div class="row footer__top">
      <div class="col-md-3">
        <a href="home.html" class="logo footer__logo mb-4">
          <svg class="logo__icon">
            <use xlink:href="assets/img/sprite.svg#logo"></use>
          </svg>
        </a>
        <div class="header__contacts-item mb-4">
          <a href="tel:88009007070" class="header__contact">8 (800) 900-70-70</a>
          <p class="header__contacts-text">Бесплатно по России</p>
        </div>
        <div class="header__contacts-item mb-4">
          <a href="+78009007070" class="header__contact">+7 (800) 900-70-70</a>
          <a href="" class="header__contacts-link">Заказать звонок</a>
        </div>
        <div class="header__contacts-item mb-4">
          <a href="mailto:info@dizel-generator.ru" class="header__contact">info@dizel-generator.ru</a>
          <a href="" class="header__contacts-link">Отправить заявку</a>
        </div>
      </div>
      <div class="col-md-2">
        <a href="#" class="footer__caption">Продукция</a>
        <ul class="footer__nav">
          <li class="footer__nav-item"><a href="" class="footer__nav-link">Полный каталог</a></li>
          <li class="footer__nav-item"><a href="" class="footer__nav-link">Производство</a></li>
          <li class="footer__nav-item"><a href="" class="footer__nav-link">Доставка</a></li>
          <li class="footer__nav-item"><a href="" class="footer__nav-link">Контакты</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <a href="#" class="footer__caption">Услуги и сервис</a>
        <ul class="footer__nav">
          <li class="footer__nav-item"><a href="" class="footer__nav-link">Аренда</a></li>
          <li class="footer__nav-item"><a href="" class="footer__nav-link">Сервис и ремонт</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <a href="#" class="footer__caption">О компании</a>
        <ul class="footer__nav">
          <li class="footer__nav-item"><a href="" class="footer__nav-link">Отзывы</a></li>
          <li class="footer__nav-item"><a href="" class="footer__nav-link">Оплата</a></li>
          <li class="footer__nav-item"><a href="" class="footer__nav-link">Гарантия</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="header__social social footer__social">
          <li class="social__item"><a href="" class="social__link">
            <svg width="24" height="24">
              <use xlink:href="assets/img/sprite.svg#icon-tlg"></use>
            </svg>
          </a></li>
          <li class="social__item"><a href="" class="social__link">
            <svg width="24" height="24">
              <use xlink:href="assets/img/sprite.svg#icon-vk"></use>
            </svg>
          </a></li>
          <li class="social__item"><a href="" class="social__link">
            <svg width="24" height="24">
              <use xlink:href="assets/img/sprite.svg#icon-wup"></use>
            </svg>
          </a></li>
        </ul>
        <p class="footer__info">Вся представленная на сайте информация, касающаяся технических характеристик, наличия на складе, стоимости товаров, носит информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 (2) Гражданского кодекса РФ.</p>
        <a href="" class="footer__link">Политика конфиденциальности</a>
        <a href="" class="footer__link">Обработка персональных данных</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p class="footer__copy">Все права защищены и охраняются законом 2009 - 2022</p>
      </div>
      <div class="col-md-6">
        <p class="footer__dev">Создание и продвижение сайта - <a href="">OZHGIBESOV.NET</a></p>
      </div>
    </div>
  </div>
</footer>
