<header class="header">
  <div class="header__top">
    <div class="container h-100">
      <div class="row align-items-center h-100">
        <div class="col-12 d-flex align-items-center justify-content-between h-100">
          <!--  change city -->
          <div class="change-city">
            <button class="btn-reset header__location flex flex_ai-center js-change-city-btn">
              <svg width="16" height="16">
                <use xlink:href="assets/img/sprite.svg#icon-location"></use>
              </svg>
              <span>Санкт-Петербург</span>
            </button>
            <div class="js-city-drop-down change-city__drop-down">
              <div class="x-drop-down__search">
                <p class="change-city__caption">Ваш город: <span class="js-change-city-caption">Санкт-Петербург</span>
                </p>
                <div class="x-input change-city__input">
                  <input type="text" class="js-city-field change-city__field" autocomplete="off" value=""
                         placeholder="Введите название Вашего города или выберете из списка ниже">
                </div>
              </div>
              <ul class="x-drop-down__list js-dropdown change-city__list">
                <li class="js-city-item  change-city__list-item">Волгоград</li>
                <li class="js-city-item  change-city__list-item">Воронеж</li>
                <li class="js-city-item  change-city__list-item">Екатеринбург</li>
                <li class="js-city-item  change-city__list-item">Ижевск</li>
                <li class="js-city-item  change-city__list-item">Казань</li>
                <li class="js-city-item  change-city__list-item">Калининград</li>
                <li class="js-city-item  change-city__list-item">Кемерово</li>
                <li class="js-city-item  change-city__list-item">Кострома</li>
                <li class="js-city-item  change-city__list-item">Красноярск</li>
                <li class="js-city-item  change-city__list-item">Магнитогорск</li>
                <li class="js-city-item  change-city__list-item">Москва</li>
                <li class="js-city-item  change-city__list-item">Набережные челны</li>
                <li class="js-city-item  change-city__list-item">Новосибирск</li>
                <li class="js-city-item  change-city__list-item">Нижний Новгород</li>
                <li class="js-city-item  change-city__list-item">Омск</li>
                <li class="js-city-item  change-city__list-item">Пенза</li>
                <li class="js-city-item  change-city__list-item">Пермь</li>
                <li class="js-city-item  change-city__list-item">Ростов-на-Дону</li>
                <li class="js-city-item  change-city__list-item">Самара</li>
                <li class="js-city-item  change-city__list-item">Санкт-Петербург</li>
                <li class="js-city-item  change-city__list-item"> Тюмень</li>
                <li class="js-city-item  change-city__list-item">Уфа</li>
                <li class="js-city-item  change-city__list-item">Челябинск</li>
              </ul>
            </div>
          </div>
          <nav class="header__nav nav h-100">
            <ul class="nav__list h-100  js-header-nav">
              <li class="nav__item"><a href="" class="nav__link">Производство</a></li>
              <li class="nav__item nav__item_sub js-nav-item-sub">
                <a href="" class="nav__link">Услуги и сервис</a>
                <ul class="sub-menu">
                  <li class="sub-menu__item"><a href="" class="sub-menu__link">Аренда электростанций</a></li>
                  <li class="sub-menu__item"><a href="" class="sub-menu__link">Сервис и ремонт</a></li>
                </ul>
              </li>
              <li class="nav__item nav__item_sub js-nav-item-sub">
                <a href="" class="nav__link">О заводе</a>
                <ul class="sub-menu">
                  <li class="sub-menu__item"><a href="" class="sub-menu__link">О компании</a></li>
                  <li class="sub-menu__item"><a href="" class="sub-menu__link">Оплата</a></li>
                  <li class="sub-menu__item"><a href="" class="sub-menu__link">Отзывы</a></li>
                  <li class="sub-menu__item"><a href="" class="sub-menu__link">Гарантия</a></li>
                </ul>
              </li>
              <li class="nav__item"><a href="" class="nav__link">Доставка</a></li>
              <li class="nav__item"><a href="" class="nav__link">Контакты</a></li>
            </ul>
          </nav>
          <div class="header__time flex flex_ai-center">
            <svg width="20" height="20">
              <use xlink:href="assets/img/sprite.svg#icon-clock"></use>
            </svg>
            <span>пн-пт 09:00 - 18:00</span>
          </div>
          <ul class="header__social social">
            <li class="social__item"><a href="" class="social__link">
              <svg width="24" height="24">
                <use xlink:href="assets/img/sprite.svg#icon-tlg"></use>
              </svg>
            </a></li>
            <li class="social__item"><a href="" class="social__link">
              <svg width="24" height="24">
                <use xlink:href="assets/img/sprite.svg#icon-vk"></use>
              </svg>
            </a></li>
            <li class="social__item"><a href="" class="social__link">
              <svg width="24" height="24">
                <use xlink:href="assets/img/sprite.svg#icon-wup"></use>
              </svg>
            </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container">
      <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-between">
          <a href="home.html" class="logo header__logo">
            <svg class="logo__icon">
              <use xlink:href="assets/img/sprite.svg#logo"></use>
            </svg>
          </a>
          <div class="header-catalog">
            <button class="btn-reset btn btn_blue header-catalog__btn js-open-header-catalog"><!--js-open-mobile-menu js-open-header-catalog-->
              <span class="header-catalog__lines">
                <i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i>
              </span>
              <span class="header-catalog__title">Каталог</span>
            </button>
          </div>
          <!--  search-->
          <div class="header-search position-relative">
            <form action="" class="header-search__bar js-search-input">
              <input type="search" name="search" pattern=".*\S.*" class=" header-search__input js-search-field" autocomplete="off">
              <button class="header-search__reset btn-reset" type="reset">
                <svg width="24" height="24">
                  <use xlink:href="assets/img/sprite.svg#icon-close-sm"></use>
                </svg>
              </button>
            </form>
            <button class="btn-reset header-search__btn js-search-btn" type="button">
              <svg width="24" height="24">
                <use xlink:href="assets/img/sprite.svg#icon-loup"></use>
              </svg>
            </button>
            <div class="header-search__drop-down js-search-drop-down" data-simplebar="" data-simplebar-auto-hide="false">
              <ul class="header-search__list">
                <li class="header-search__list-item header-search__list-item_with-close">
                  <a href="" class="header-search__list-link">дизельный генератор</a>
                  <button class="header-search__del btn-reset">
                    <svg width="24" height="24">
                      <use xlink:href="assets/img/sprite.svg#icon-close-sm"></use>
                    </svg>
                  </button>
                </li>
                <li class="header-search__list-item header-search__list-item_with-close">
                  <a href="" class="header-search__list-link">дизельный генератор 100 кВт</a>
                  <button class="header-search__del btn-reset">
                    <svg width="24" height="24">
                      <use xlink:href="assets/img/sprite.svg#icon-close-sm"></use>
                    </svg>
                  </button>
                </li>
                <li class="header-search__list-item header-search__list-item_with-close">
                  <a href="" class="header-search__list-link">дизельный генератор 100 кВт в кожухе</a>
                  <button class="header-search__del btn-reset">
                    <svg width="24" height="24">
                      <use xlink:href="assets/img/sprite.svg#icon-close-sm"></use>
                    </svg>
                  </button>
                </li>
              </ul>
              <ul class="header-search__list">
                <li class="header-search__list-item"><a href="" class="header-search__list-link">дизельный генератор 100 кВт в кожухе</a></li>
                <li class="header-search__list-item"><a href="" class="header-search__list-link">дизельный генератор 100 кВт в контейнере</a></li>
                <li class="header-search__list-item"><a href="" class="header-search__list-link">дизельный генератор 100 кВт передвижной</a></li>
                <li class="header-search__list-item"><a href="" class="header-search__list-link">дизельный генератор 100 кВт резервный</a></li>
              </ul>
              <ul class="header-search__list">
                <li class="header-search__list-item">
                  <a href="" class="header-search__list-link">дизельный генератор 100 кВт в кожухе</a>
                  <span>Категория</span>
                </li>
                <li class="header-search__list-item">
                  <a href="" class="header-search__list-link">дизельный генератор 100 кВт в контейнере</a>
                  <span>Категория</span>
                </li>
                <li class="header-search__list-item">
                  <a href="" class="header-search__list-link">дизельный генератор 100 кВт передвижной</a>
                  <span>Категория</span>
                </li>
                <li class="header-search__list-item">
                  <a href="" class="header-search__list-link">дизельный генератор 100 кВт резервный</a>
                  <span>Категория</span>
                </li>
              </ul>
              <ul class="header-search__list">
                <li class="header-search__list-item">
                  <a href="" class="header-search__list-link">Cummins</a>
                  <span>Бренды</span>
                </li>
                <li class="header-search__list-item">
                  <a href="" class="header-search__list-link">ТСС</a>
                  <span>Бренды</span>
                </li>
                <li class="header-search__list-item">
                  <a href="" class="header-search__list-link">SDMO</a>
                  <span>Бренды</span>
                </li>
                <li class="header-search__list-item">
                  <a href="" class="header-search__list-link">FG Wilson</a>
                  <span>Бренды</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="header__contacts-item">
            <p class="header__contact">info@dizel-generator.ru</p>
            <a href="" class="header__contacts-link">Отправить заявку</a>
          </div>
          <div class="header__contacts-item">
            <p class="header__contact">8 (800) 900-70-70</p>
            <p class="header__contacts-text">Бесплатно по России</p>
          </div>
          <div class="header__contacts-item">
            <p class="header__contact">+7 (800) 900-70-70</p>
            <a href="" class="header__contacts-link">Заказать звонок</a>
          </div>
          <a href="" class="header__mini-cart mini-cart header__icon">
            <svg width="24" height="24">
              <use xlink:href="assets/img/sprite.svg#icon-cart"></use>
            </svg>
            <span>Корзина</span>
          </a>
          <a href="" class="header__favorite header__icon">
            <svg width="24" height="24">
              <use xlink:href="assets/img/sprite.svg#icon-star-trnsp"></use>
            </svg>
            <span>Отложено</span>
          </a>
          <a href="" class="header__compare header__icon">
            <svg width="24" height="24">
              <use xlink:href="assets/img/sprite.svg#icon-diagramm"></use>
            </svg>
            <span>Сравнение</span>
          </a>
        </div>
      </div>

    </div>
  </div>
  <!--  catalog menu-->
  <div class="catalog-menu  js-header-catalog">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="catalog-menu__nav">
            <ul class="nav catalog-menu__nav-list" role="tablist">
              <li class="catalog-menu__nav-item">
                <a class="catalog-menu__nav-link active" data-toggle="tab" href="#menu-one" role="tab">Дизельные
                  генераторы</a>
              </li>
              <li class="catalog-menu__nav-item">
                <a class="catalog-menu__nav-link" data-toggle="tab" href="#menu-two" role="tab" aria-selected="false">Газовые
                  генераторы</a>
              </li>
              <li class="catalog-menu__nav-item">
                <a class="catalog-menu__nav-link" data-toggle="tab" href="#menu-tree" role="tab"
                   aria-selected="false">ИБП</a>
              </li>
              <li class="catalog-menu__nav-item">
                <a class="catalog-menu__nav-link" data-toggle="tab" href="#menu-four" role="tab" aria-selected="false">Стабилизаторы
                  напряжения</a>
              </li>
            </ul>
          </div>
          <div class="tab-content" id="">
            <div class="catalog-menu__wrapper  tab-pane fade show active" id="menu-one" role="tabpanel"
                 aria-labelledby="home-tab">
              <div class="catalog-menu__content">
                <div class="catalog-menu__col">
                  <p class="catalog-menu__caption">Подбор по мощности</p>
                  <ul class="catalog-menu__list">
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">10 кВт</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">12 кВт</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">15 кВт</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">16 кВт</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">20 кВт</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">25 кВт</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">30 кВт</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">40 кВт</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">50 кВт</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">60 кВт</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">70 кВт</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">75 кВт</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">80 кВт</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">100 кВт</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">120 кВт</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">150 кВт</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">160 кВт</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">200 кВт</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">220 кВт</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">250 кВт</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">300 кВт</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">350 кВт</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">400 кВт</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">500 кВт</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">600 кВт</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">800 кВт</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">900 кВт</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">1000 кВт</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">1100 кВт</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">2000 кВт</a></li>
                  </ul>
                  <a href="" class="catalog-menu__link-all">
                    Все мощности
                    <svg width="24" height="24">
                      <use xlink:href="assets/img/sprite.svg#icon-arrow-right"></use>
                    </svg>
                  </a>
                </div>
                <div class="catalog-menu__col">
                  <p class="catalog-menu__caption">По марке</p>
                  <ul class="catalog-menu__list">
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">ТСС</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">Азимут</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">Wilson</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">SDMO</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">Cummins</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">ЯМЗ</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">AKSA</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">Perkins</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">Caterpillar</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">Iveco</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">АД</a></li>
                  </ul>
                  <a href="" class="catalog-menu__link-all">
                    Все марки
                    <svg width="24" height="24">
                      <use xlink:href="assets/img/sprite.svg#icon-arrow-right"></use>
                    </svg>
                  </a>
                </div>
                <div class="catalog-menu__col">
                  <p class="catalog-menu__caption">По марке</p>
                  <ul class="catalog-menu__list h-auto">
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">С автозапуском</a>
                    </li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">Промышленный</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">В контейнере</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">Передвижной</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">В кожухе</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">Резервный</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">Стационарный</a></li>
                  </ul>
                  <p class="catalog-menu__caption ">Оснащение ДГУ</p>
                  <ul class="catalog-menu__list h-auto">
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">Кожухи для
                      генераторов</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">Контейнеры для
                      генераторов</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">Контейнер Север для
                      ДГУ</a></li>
                  </ul>
                </div>
                <div class="catalog-menu__col w-25">
                  <p class="catalog-menu__caption">Популярные подборки</p>
                  <ul class="catalog-menu__scroll-list js-scroll-list" data-simplebar data-simplebar-auto-hide="false">
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">Дизель генератор с
                      автозапуском</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">Дизель генератор на
                      шасси</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">Дизель генератор
                      промышленный</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">Дизель генератор
                      380В</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">Дизель генератор с
                      АВР</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">Дизель генератор 380В
                      с автозапуском</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">Дизель генератор
                      трехфазный</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">Генератор
                      трехфазный</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">Генератор в
                      кожухе</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">Дизель генератор
                      ТСС</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">Дизель генератор
                      SDMO</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">Дизель генератор
                      SDMO</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">Дизель генератор
                      SDMO</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">Дизель генератор
                      SDMO</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">Дизель генератор
                      SDMO</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">Дизель генератор
                      SDMO</a></li>
                    <li class="catalog-menu__list-item"><a href="" class="catalog-menu__list-link">Дизель генератор
                      SDMO</a></li>
                  </ul>
                </div>
              </div>

            </div>
            <div class="catalog-menu__content tab-pane fade" id="menu-two" role="tabpanel" aria-labelledby="home-tab">
              456
            </div>
            <div class="catalog-menu__content tab-pane fade" id="menu-tree" role="tabpanel" aria-labelledby="home-tab">
              789
            </div>
            <div class="catalog-menu__content tab-pane fade" id="menu-four" role="tabpanel" aria-labelledby="home-tab">
              000
            </div>
          </div>
        </div>
      </div>
      <button class="btn-reset btn catalog-menu__btn">
        Перейти в каталог
        <svg width="24" height="24">
          <use xlink:href="assets/img/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>


</header>


