<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-between">

          <button class="btn-reset header__location flex flex_ai-center">
            <svg width="16" height="16">
              <use xlink:href="assets/img/sprite.svg#icon-location"></use>
            </svg>
            <span>Санкт-Петербург</span>
          </button>
          <nav class="header__nav nav">
            <ul class="nav__list">
              <li class="nav__item"><a href="" class="nav__link">Производство</a></li>
              <li class="nav__item nav__item_sub"><a href="" class="nav__link">Услуги и сервис</a></li>
              <li class="nav__item nav__item_sub"><a href="" class="nav__link">О заводе</a></li>
              <li class="nav__item"><a href="" class="nav__link">Доставка</a></li>
              <li class="nav__item"><a href="" class="nav__link">Контакты</a></li>
            </ul>
          </nav>
          <div class="header__time flex flex_ai-center">
            <svg width="20" height="20">
              <use xlink:href="assets/img/sprite.svg#icon-clock"></use>
            </svg>
            <span>пн-пт 09:00 - 18:00</span>
          </div>
          <ul class="header__social social">
            <li class="social__item"><a href="" class="social__link">
              <svg width="24" height="24">
                <use xlink:href="assets/img/sprite.svg#icon-tlg"></use>
              </svg>
            </a></li>
            <li class="social__item"><a href="" class="social__link">
              <svg width="24" height="24">
                <use xlink:href="assets/img/sprite.svg#icon-vk"></use>
              </svg>
            </a></li>
            <li class="social__item"><a href="" class="social__link">
              <svg width="24" height="24">
                <use xlink:href="assets/img/sprite.svg#icon-wup"></use>
              </svg>
            </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container">
      <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-between">
          <a href="home.html" class="logo header__logo">
            <svg class="logo__icon">
              <use xlink:href="assets/img/sprite.svg#logo"></use>
            </svg>
          </a>
          <div class="header-catalog">
            <button class="btn-reset btn btn_blue header-catalog__btn js-open-header-catalog">
              <span class="header-catalog__lines">
                <i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i>
              </span>
              Каталог
            </button>
          </div>
          <div class="header-search">
            <button class="btn-reset header-search__btn">
              <svg width="24" height="24">
                <use xlink:href="assets/img/sprite.svg#icon-loup"></use>
              </svg>
            </button>
          </div>
          <div class="header__contacts-item">
            <a href="mailto:info@dizel-generator.ru" class="header__contact">info@dizel-generator.ru</a>
            <a href="" class="header__contacts-link">Отправить заявку</a>
          </div>
          <div class="header__contacts-item">
            <a href="tel:88009007070" class="header__contact">8 (800) 900-70-70</a>
            <p class="header__contacts-text">Бесплатно по России</p>
          </div>
          <div class="header__contacts-item">
            <a href="+78009007070" class="header__contact">+7 (800) 900-70-70</a>
            <a href="" class="header__contacts-link">Заказать звонок</a>
          </div>
          <a href="" class="header__mini-cart mini-cart header__icon">
             <svg width="24" height="24">
                <use xlink:href="assets/img/sprite.svg#icon-cart"></use>
              </svg>
            <span>Корзина</span>
          </a>
          <a href="" class="header__favorite header__icon">
             <svg width="24" height="24">
                <use xlink:href="assets/img/sprite.svg#icon-star-trnsp"></use>
              </svg>
            <span>Отложено</span>
          </a>
          <a href="" class="header__compare header__icon">
             <svg width="24" height="24">
                <use xlink:href="assets/img/sprite.svg#icon-diagramm"></use>
              </svg>
            <span>Сравнение</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
