<section class="section news">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-7">
        <h2 class="title-h2 news__title">Новости и проекты</h2>
      </div>
      <div class="col-5">
        <a href="" class="title-link">
          Все проекты
          <svg width="24" height="24">
            <use xlink:href="assets/img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="js-news-slider news__slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="news__item">
                <img src="assets/img/n-01.jpg" alt="" class="news__img">
                <div class="news__inner">
                  <p class="news__caption">Резервное электроснабжение Дома культуры «ГЭС-2» на Болотной набережной</p>
                  <p class="news__date">Декабрь 2021</p>
                  <img src="assets/img/nb-01.png" alt="" class="news__brand">
                  <a href="#" class="lnk"></a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="news__item">
                <img src="assets/img/n-02.jpg" alt="" class="news__img">
                <div class="news__inner">
                  <p class="news__caption">Резервное электроснабжение Дома культуры «ГЭС-2» на Болотной набережной</p>
                  <p class="news__date">Декабрь 2021</p>

                  <a href="#" class="lnk"></a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="news__item">
                <img src="assets/img/n-03.jpg" alt="" class="news__img">
                <div class="news__inner">
                  <p class="news__caption">Резервное электроснабжение Дома культуры «ГЭС-2»</p>
                  <p class="news__date">Декабрь 2021</p>
                  <img src="assets/img/nb-02.png" alt="" class="news__brand">
                  <a href="#" class="lnk"></a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="news__item">
                <img src="assets/img/n-01.jpg" alt="" class="news__img">
                <div class="news__inner">
                  <p class="news__caption">Резервное электроснабжение Дома культуры «ГЭС-2» на Болотной набережной</p>
                  <p class="news__date">Декабрь 2021</p>
                  <img src="assets/img/nb-01.png" alt="" class="news__brand">
                  <a href="#" class="lnk"></a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="news__item">
                <img src="assets/img/n-02.jpg" alt="" class="news__img">
                <div class="news__inner">
                  <p class="news__caption">Резервное электроснабжение Дома культуры «ГЭС-2» на Болотной набережной</p>
                  <p class="news__date">Декабрь 2021</p>

                  <a href="#" class="lnk"></a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="news__item">
                <img src="assets/img/n-03.jpg" alt="" class="news__img">
                <div class="news__inner">
                  <p class="news__caption">Резервное электроснабжение Дома культуры «ГЭС-2»</p>
                  <p class="news__date">Декабрь 2021</p>
                  <img src="assets/img/nb-02.png" alt="" class="news__brand">
                  <a href="#" class="lnk"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-navigation">
            <button class="slider-navigation__btn slider-navigation__btn_prev btn-reset swiper-button-prev">
              <svg width="32" height="32">
                <use xlink:href="assets/img/sprite.svg#icon-arrow-left"></use>
              </svg>
            </button>
            <button class="slider-navigation__btn slider-navigation__btn_next btn-reset swiper-button-next">
              <svg width="32" height="32">
                <use xlink:href="assets/img/sprite.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
