<div class="pagination">
  <ul class="pagination__list">
    <li class="pagination__item active"><a href="" class="pagination__link lnk">1</a></li>
    <li class="pagination__item"><a href="" class="pagination__link lnk">2</a></li>
    <li class="pagination__item"><a href="" class="pagination__link lnk">3</a></li>
    <li class="pagination__item"><a href="" class="pagination__link lnk">...</a></li>
    <li class="pagination__item"><a href="" class="pagination__link lnk">9</a></li>
    <li class="pagination__item"><a href="" class="pagination__link lnk">Далее</a></li>
  </ul>
</div>
