<section class="section partners">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="title-h2 partners__title">Наши партнеры</h2>
        <div class="partners__list js-partners-slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="partners__item">
                <img src="assets/img/ptr-01.png" alt="" class="partners__img">
                <p class="partners__dealer">Официальный дилер</p>
                <a href="" class="partners__link lnk"><span>Генераторы SDMO</span>
                  <svg width="20" height="20">
                    <use xlink:href="assets/img/sprite.svg#icon-arrow-right-blue"></use>
                  </svg>
                </a>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="partners__item">
                <img src="assets/img/ptr-02.png" alt="" class="partners__img">
                <p class="partners__dealer">Официальный дилер</p>
                <a href="" class="partners__link lnk"><span>Генераторы Pramac</span>
                  <svg width="20" height="20">
                    <use xlink:href="assets/img/sprite.svg#icon-arrow-right-blue"></use>
                  </svg>
                </a>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="partners__item">
                <img src="assets/img/ptr-03.png" alt="" class="partners__img">
                <p class="partners__dealer">Официальный дилер</p>
                <a href="" class="partners__link lnk"><span>Генераторы Teksan</span>
                  <svg width="20" height="20">
                    <use xlink:href="assets/img/sprite.svg#icon-arrow-right-blue"></use>
                  </svg>
                </a>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="partners__item">
                <img src="assets/img/ptr-04.png" alt="" class="partners__img">
                <p class="partners__dealer">Официальный дилер</p>
                <a href="" class="partners__link lnk"><span>Генераторы Aksa</span>
                  <svg width="20" height="20">
                    <use xlink:href="assets/img/sprite.svg#icon-arrow-right-blue"></use>
                  </svg>
                </a>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="partners__item">
                <img src="assets/img/ptr-05.png" alt="" class="partners__img">
                <p class="partners__dealer">Официальный дилер</p>
                <a href="" class="partners__link lnk"><span>Генераторы Cummis</span>
                  <svg width="20" height="20">
                    <use xlink:href="assets/img/sprite.svg#icon-arrow-right-blue"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
