<!-- callback -->
<div class="modal fade" id="callback" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="btn-reset modal__close" data-dismiss="modal" aria-label="Close">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M5.63574 5.63574L18.3637 18.3637" stroke="#1C1C1C" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round"/>
          <path d="M5.63574 18.3638L18.3637 5.63585" stroke="#1C1C1C" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round"/>
        </svg>
      </button>
      <p class="modal__title">Заказать обратный звонок</p>
      <form action="" class="modal-form modal__form">
        <div class="modal-form__group">
          <label for="name" class="modal-form__label">название поля</label>
          <input type="text" id="name" name="name" class="modal-form__input" placeholder="При заполнении">
        </div>
        <div class="modal-form__group">
          <label for="name2" class="modal-form__label">название поля</label>
          <input type="text" id="name2" name="name2" class="modal-form__input" placeholder="При заполнении">
        </div>
        <div class="modal-form__group">
          <label for="name3" class="modal-form__label">удобное время звонка</label>
          <select name="name3" id="name3" class="modal-form__select">
            <option value="В ближайшее время" name="now">В ближайшее время</option>
            <option value="one" name="one">one</option>
            <option value="two" name="two">two</option>
            <option value="three" name="three">three</option>
          </select>
        </div>
        <button class="btn-reset btn btn_blue modal-form__submit" type="submit">Отправить запрос</button>
        <div class="modal-form__conf">
          <label for="modal-conf" class="conf-checkbox__label">
            <input
              type="checkbox"
              class="conf-checkbox"
              id="modal-conf"
              name="conf"
              checked
            >
            <span class="conf-checkbox__pane"></span>
            Я даю согласие <a href="">на обработку моих персональных данных </a>
          </label>
        </div>
      </form>
    </div>
  </div>
</div>

<!--get offer-->
<div class="modal fade" id="getOffer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="btn-reset modal__close" data-dismiss="modal" aria-label="Close">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M5.63574 5.63574L18.3637 18.3637" stroke="#1C1C1C" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round"/>
          <path d="M5.63574 18.3638L18.3637 5.63585" stroke="#1C1C1C" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round"/>
        </svg>
      </button>
      <p class="modal__title">Получить предложение</p>
      <form action="" class="modal-form modal__form">
        <div class="modal-form__group">
          <label for="name" class="modal-form__label">название поля</label>
          <input type="text" id="name" name="name" class="modal-form__input" placeholder="При заполнении">
        </div>
        <div class="modal-form__group">
          <label for="name2" class="modal-form__label">название поля</label>
          <input type="text" id="name2" name="name2" class="modal-form__input" placeholder="При заполнении">
        </div>
        <div class="modal-form__group">
          <label for="name3" class="modal-form__label">название поля</label>
          <input type="text" id="name3" name="name3" class="modal-form__input" placeholder="При заполнении">
        </div>
        <button class="btn-reset btn btn_blue modal-form__submit" type="submit">Отправить запрос</button>
        <div class="modal-form__conf">
          <label for="modal-conf" class="conf-checkbox__label">
            <input
              type="checkbox"
              class="conf-checkbox"
              id="modal-conf"
              name="conf"
              checked
            >
            <span class="conf-checkbox__pane"></span>
            Я даю согласие <a href="">на обработку моих персональных данных </a>
          </label>
        </div>
      </form>
    </div>
  </div>
</div>
