<div class="row">
  <div class="js-best-slider swiper best__slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="product-card">
          <div class="product-card__actions">
            <button
              class="btn-reset product-card__actions-button product-card__actions-button_favorite js-item-card-toggle">
              <svg width="24" height="24">
                <use xlink:href="assets/img/sprite.svg#icon-star-trnsp"></use>
              </svg>
            </button>
            <button
              class="btn-reset product-card__actions-button product-card__actions-button_matching js-item-card-toggle">
              <svg width="24" height="24">
                <use xlink:href="assets/img/sprite.svg#icon-diagramm"></use>
              </svg>
            </button>
          </div>
          <img src="assets/img/prc-01.png" alt="" class="product-card__img">
          <a href="card.html" class="product-card__caption">Дизельный генератор 100 кВт в контейнере
            АД-200С-Т400-РМ1</a>
          <ul class="product-card__properties-list">
            <li class="product-card__properties-item">
              <p class="product-card__properties-caption">Мощность</p>
              <p class="product-card__properties-dots"></p>
              <a href="#" class="product-card__properties-value">200 кВт</a></li>
            <li class="product-card__properties-item">
              <p class="product-card__properties-caption">Напряжение</p>
              <p class="product-card__properties-dots"></p>
              <a href="#" class="product-card__properties-value">400/230В</a></li>
            <li class="product-card__properties-item">
              <p class="product-card__properties-caption">Расход топлива</p>
              <p class="product-card__properties-dots"></p>
              <a href="#" class="product-card__properties-value">121 л/ч</a></li>
            <li class="product-card__properties-item">
              <p class="product-card__properties-caption">Двигатель</p>
              <p class="product-card__properties-dots"></p>
              <a href="#" class="product-card__properties-value">Mitsubishi (Япония) </a></li>
            <li class="product-card__properties-item">
              <p class="product-card__properties-caption">Модель</p>
              <p class="product-card__properties-dots"></p>
              <a href="#" class="product-card__properties-value">1104C-44TAG55 </a>
            </li>
          </ul>
          <p class="product-card__delivery product-card__delivery_green">Поставка 6 недель</p>
          <div class="product-card__sum">
            <p class="product-card__price">00 000 000 ₽</p>
            <p class="product-card__old-price">36 175 175</p>
            <span class="product-card__discount">15%</span></div>

          <div class="product-card__mobile-bottom">
            <button class="btn btn_blue btn-reset product-card__btn">Получить КП</button>
            <div>
              <button
                class="btn-reset product-card__actions-button product-card__actions-button_favorite js-item-card-toggle">
                <svg width="24" height="24">
                  <use xlink:href="assets/img/sprite.svg#icon-star-trnsp"></use>
                </svg>
              </button>
            </div>
            <button
              class="btn-reset product-card__actions-button product-card__actions-button_matching js-item-card-toggle">
              <svg width="24" height="24">
                <use xlink:href="assets/img/sprite.svg#icon-diagramm"></use>
              </svg>
            </button>
          </div>
          <button class="btn btn_blue btn-reset product-card__btn">Получить КП</button>
          <button class="btn-reset product-card__link">Купить в один клик</button>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="product-card">
          <div class="product-card__actions">
            <button
              class="btn-reset product-card__actions-button product-card__actions-button_favorite js-item-card-toggle is-active">
              <svg width="24" height="24">
                <use xlink:href="assets/img/sprite.svg#icon-star-trnsp"></use>
              </svg>
            </button>
            <button
              class="btn-reset product-card__actions-button product-card__actions-button_matching js-item-card-toggle">
              <svg width="24" height="24">
                <use xlink:href="assets/img/sprite.svg#icon-diagramm"></use>
              </svg>
            </button>
          </div>
          <img src="assets/img/prc-01.png" alt="" class="product-card__img">
          <a href="card.html" class="product-card__caption">Дизельный генератор 100 кВт в контейнере
            АД-200С-Т400-РМ1</a>
          <ul class="product-card__properties-list">
            <li class="product-card__properties-item">
              <p class="product-card__properties-caption">Мощность</p>
              <p class="product-card__properties-dots"></p>
              <a href="#" class="product-card__properties-value">200 кВт</a></li>
            <li class="product-card__properties-item">
              <p class="product-card__properties-caption">Напряжение</p>
              <p class="product-card__properties-dots"></p>
              <a href="#" class="product-card__properties-value">400/230В</a></li>
            <li class="product-card__properties-item">
              <p class="product-card__properties-caption">Расход топлива</p>
              <p class="product-card__properties-dots"></p>
              <a href="#" class="product-card__properties-value">121 л/ч</a></li>
            <li class="product-card__properties-item">
              <p class="product-card__properties-caption">Двигатель</p>
              <p class="product-card__properties-dots"></p>
              <a href="#" class="product-card__properties-value">Baudouin Moteurs
                (Франция-Китай) </a></li>
            <li class="product-card__properties-item">
              <p class="product-card__properties-caption">Модель</p>
              <p class="product-card__properties-dots"></p>
              <a href="#" class="product-card__properties-value">1104C-44TAG55 </a>
            </li>
          </ul>
          <p class="product-card__delivery product-card__delivery_grey">Снято с производства</p>
          <div class="product-card__sum">

          </div>
          <div class="product-card__mobile-bottom">
            <button class="btn btn_blue btn-reset product-card__btn">Получить КП</button>
            <div>
              <button
                class="btn-reset product-card__actions-button product-card__actions-button_favorite js-item-card-toggle">
                <svg width="24" height="24">
                  <use xlink:href="assets/img/sprite.svg#icon-star-trnsp"></use>
                </svg>
              </button>
            </div>
            <button
              class="btn-reset product-card__actions-button product-card__actions-button_matching js-item-card-toggle">
              <svg width="24" height="24">
                <use xlink:href="assets/img/sprite.svg#icon-diagramm"></use>
              </svg>
            </button>
          </div>
          <button class="btn btn_blue btn-reset product-card__btn">Получить КП</button>
          <button class="btn-reset product-card__link">Купить в один клик</button>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="product-card">
          <div class="product-card__actions">
            <button
              class="btn-reset product-card__actions-button product-card__actions-button_favorite js-item-card-toggle">
              <svg width="24" height="24">
                <use xlink:href="assets/img/sprite.svg#icon-star-trnsp"></use>
              </svg>
            </button>
            <button
              class="btn-reset product-card__actions-button product-card__actions-button_matching js-item-card-toggle is-active">
              <svg width="24" height="24">
                <use xlink:href="assets/img/sprite.svg#icon-diagramm"></use>
              </svg>
            </button>
          </div>
          <img src="assets/img/prc-01.png" alt="" class="product-card__img">
          <a href="card.html" class="product-card__caption">Дизельный генератор 100 кВт в контейнере
            АД-200С-Т400-РМ1</a>
          <ul class="product-card__properties-list">
            <li class="product-card__properties-item">
              <p class="product-card__properties-caption">Мощность</p>
              <p class="product-card__properties-dots"></p>
              <a href="#" class="product-card__properties-value">200 кВт</a></li>
            <li class="product-card__properties-item">
              <p class="product-card__properties-caption">Напряжение</p>
              <p class="product-card__properties-dots"></p>
              <a href="#" class="product-card__properties-value">400/230В</a></li>
            <li class="product-card__properties-item">
              <p class="product-card__properties-caption">Расход топлива</p>
              <p class="product-card__properties-dots"></p>
              <a href="#" class="product-card__properties-value">121 л/ч</a></li>
            <li class="product-card__properties-item">
              <p class="product-card__properties-caption">Двигатель</p>
              <p class="product-card__properties-dots"></p>
              <a href="#" class="product-card__properties-value">Baudouin Moteurs
                (Франция-Китай) </a></li>
            <li class="product-card__properties-item">
              <p class="product-card__properties-caption">Модель</p>
              <p class="product-card__properties-dots"></p>
              <a href="#" class="product-card__properties-value">1104C-44TAG55 </a>
            </li>
          </ul>
          <p class="product-card__delivery"></p>
          <div class="product-card__sum">
            <p class="product-card__price">по запросу</p>
            <div class="product-card__request-price">
              <svg width="20" height="20">
                <use xlink:href="assets/img/sprite.svg#icon-check-in-circle"></use>
              </svg>
              <span>Запросить цену</span>
            </div>
          </div>
          <div class="product-card__mobile-bottom">
            <button class="btn btn_blue btn-reset product-card__btn">Получить КП</button>
            <div>
              <button
                class="btn-reset product-card__actions-button product-card__actions-button_favorite js-item-card-toggle">
                <svg width="24" height="24">
                  <use xlink:href="assets/img/sprite.svg#icon-star-trnsp"></use>
                </svg>
              </button>
            </div>
            <button
              class="btn-reset product-card__actions-button product-card__actions-button_matching js-item-card-toggle">
              <svg width="24" height="24">
                <use xlink:href="assets/img/sprite.svg#icon-diagramm"></use>
              </svg>
            </button>
          </div>
          <button class="btn btn_blue btn-reset product-card__btn">Получить КП</button>
          <button class="btn-reset product-card__link">Купить в один клик</button>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="product-card">
          <div class="product-card__actions">
            <button
              class="btn-reset product-card__actions-button product-card__actions-button_favorite js-item-card-toggle is-active">
              <svg width="24" height="24">
                <use xlink:href="assets/img/sprite.svg#icon-star-trnsp"></use>
              </svg>
            </button>
            <button
              class="btn-reset product-card__actions-button product-card__actions-button_matching js-item-card-toggle is-active">
              <svg width="24" height="24">
                <use xlink:href="assets/img/sprite.svg#icon-diagramm"></use>
              </svg>
            </button>
          </div>
          <img src="assets/img/prc-01.png" alt="" class="product-card__img">
          <a href="card.html" class="product-card__caption">Дизельный генератор 100 кВт в контейнере
            АД-200С-Т400-РМ1</a>
          <ul class="product-card__properties-list">
            <li class="product-card__properties-item">
              <p class="product-card__properties-caption">Мощность</p>
              <p class="product-card__properties-dots"></p>
              <a href="#" class="product-card__properties-value">200 кВт</a></li>
            <li class="product-card__properties-item">
              <p class="product-card__properties-caption">Напряжение</p>
              <p class="product-card__properties-dots"></p>
              <a href="#" class="product-card__properties-value">400/230В</a></li>
            <li class="product-card__properties-item">
              <p class="product-card__properties-caption">Расход топлива</p>
              <p class="product-card__properties-dots"></p>
              <a href="#" class="product-card__properties-value">121 л/ч</a></li>
            <li class="product-card__properties-item">
              <p class="product-card__properties-caption">Двигатель</p>
              <p class="product-card__properties-dots"></p>
              <a href="#" class="product-card__properties-value">Baudouin Moteurs
                (Франция-Китай) </a></li>
            <li class="product-card__properties-item">
              <p class="product-card__properties-caption">Модель</p>
              <p class="product-card__properties-dots"></p>
              <a href="#" class="product-card__properties-value">1104C-44TAG55 </a>
            </li>
          </ul>
          <p class="product-card__delivery"></p>
          <div class="product-card__sum">
            <p class="product-card__price">00 000 000 ₽</p>
            <div class="product-card__request-price">
              <svg width="20" height="20">
                <use xlink:href="assets/img/sprite.svg#percent-in-circle"></use>
              </svg>
              <span>Получить <br> скидку</span>
            </div>
          </div>
          <div class="product-card__mobile-bottom">
            <button class="btn btn_blue btn-reset product-card__btn">Получить КП</button>
            <div>
              <button
                class="btn-reset product-card__actions-button product-card__actions-button_favorite js-item-card-toggle">
                <svg width="24" height="24">
                  <use xlink:href="assets/img/sprite.svg#icon-star-trnsp"></use>
                </svg>
              </button>
            </div>
            <button
              class="btn-reset product-card__actions-button product-card__actions-button_matching js-item-card-toggle">
              <svg width="24" height="24">
                <use xlink:href="assets/img/sprite.svg#icon-diagramm"></use>
              </svg>
            </button>
          </div>
          <button class="btn btn_blue btn-reset product-card__btn">Получить КП</button>
          <button class="btn-reset product-card__link">Купить в один клик</button>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="product-card">
          <div class="product-card__actions">
            <button
              class="btn-reset product-card__actions-button product-card__actions-button_favorite js-item-card-toggle">
              <svg width="24" height="24">
                <use xlink:href="assets/img/sprite.svg#icon-star-trnsp"></use>
              </svg>
            </button>
            <button
              class="btn-reset product-card__actions-button product-card__actions-button_matching js-item-card-toggle">
              <svg width="24" height="24">
                <use xlink:href="assets/img/sprite.svg#icon-diagramm"></use>
              </svg>
            </button>
          </div>
          <img src="assets/img/prc-01.png" alt="" class="product-card__img">
          <a href="card.html" class="product-card__caption">Дизельный генератор 100 кВт в контейнере
            АД-200С-Т400-РМ1</a>
          <ul class="product-card__properties-list">
            <li class="product-card__properties-item">
              <p class="product-card__properties-caption">Мощность</p>
              <p class="product-card__properties-dots"></p>
              <a href="#" class="product-card__properties-value">200 кВт</a></li>
            <li class="product-card__properties-item">
              <p class="product-card__properties-caption">Напряжение</p>
              <p class="product-card__properties-dots"></p>
              <a href="#" class="product-card__properties-value">400/230В</a></li>
            <li class="product-card__properties-item">
              <p class="product-card__properties-caption">Расход топлива</p>
              <p class="product-card__properties-dots"></p>
              <a href="#" class="product-card__properties-value">121 л/ч</a></li>
            <li class="product-card__properties-item">
              <p class="product-card__properties-caption">Двигатель</p>
              <p class="product-card__properties-dots"></p>
              <a href="#" class="product-card__properties-value">Mitsubishi (Япония) </a></li>
            <li class="product-card__properties-item">
              <p class="product-card__properties-caption">Модель</p>
              <p class="product-card__properties-dots"></p>
              <a href="#" class="product-card__properties-value">1104C-44TAG55 </a>
            </li>
          </ul>
          <p class="product-card__delivery product-card__delivery_green">Поставка 6 недель</p>
          <div class="product-card__sum">
            <p class="product-card__price">00 000 000 ₽</p>
            <p class="product-card__old-price">36 175 175</p>
            <span class="product-card__discount">15%</span></div>
          <div class="product-card__mobile-bottom">
            <button class="btn btn_blue btn-reset product-card__btn">Получить КП</button>
            <div>
              <button
                class="btn-reset product-card__actions-button product-card__actions-button_favorite js-item-card-toggle">
                <svg width="24" height="24">
                  <use xlink:href="assets/img/sprite.svg#icon-star-trnsp"></use>
                </svg>
              </button>
            </div>
            <button
              class="btn-reset product-card__actions-button product-card__actions-button_matching js-item-card-toggle">
              <svg width="24" height="24">
                <use xlink:href="assets/img/sprite.svg#icon-diagramm"></use>
              </svg>
            </button>
          </div>
          <button class="btn btn_blue btn-reset product-card__btn">Получить КП</button>
          <button class="btn-reset product-card__link">Купить в один клик</button>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="product-card">
          <div class="product-card__actions">
            <button
              class="btn-reset product-card__actions-button product-card__actions-button_favorite js-item-card-toggle is-active">
              <svg width="24" height="24">
                <use xlink:href="assets/img/sprite.svg#icon-star-trnsp"></use>
              </svg>
            </button>
            <button
              class="btn-reset product-card__actions-button product-card__actions-button_matching js-item-card-toggle">
              <svg width="24" height="24">
                <use xlink:href="assets/img/sprite.svg#icon-diagramm"></use>
              </svg>
            </button>
          </div>
          <img src="assets/img/prc-01.png" alt="" class="product-card__img">
          <a href="card.html" class="product-card__caption">Дизельный генератор 100 кВт в контейнере
            АД-200С-Т400-РМ1</a>
          <ul class="product-card__properties-list">
            <li class="product-card__properties-item">
              <p class="product-card__properties-caption">Мощность</p>
              <p class="product-card__properties-dots"></p>
              <a href="#" class="product-card__properties-value">200 кВт</a></li>
            <li class="product-card__properties-item">
              <p class="product-card__properties-caption">Напряжение</p>
              <p class="product-card__properties-dots"></p>
              <a href="#" class="product-card__properties-value">400/230В</a></li>
            <li class="product-card__properties-item">
              <p class="product-card__properties-caption">Расход топлива</p>
              <p class="product-card__properties-dots"></p>
              <a href="#" class="product-card__properties-value">121 л/ч</a></li>
            <li class="product-card__properties-item">
              <p class="product-card__properties-caption">Двигатель</p>
              <p class="product-card__properties-dots"></p>
              <a href="#" class="product-card__properties-value">Baudouin Moteurs
                (Франция-Китай) </a></li>
            <li class="product-card__properties-item">
              <p class="product-card__properties-caption">Модель</p>
              <p class="product-card__properties-dots"></p>
              <a href="#" class="product-card__properties-value">1104C-44TAG55 </a>
            </li>
          </ul>
          <p class="product-card__delivery product-card__delivery_grey">Снято с производства</p>
          <div class="product-card__sum">

          </div>
          <div class="product-card__mobile-bottom">
            <button class="btn btn_blue btn-reset product-card__btn">Получить КП</button>
            <div>
              <button
                class="btn-reset product-card__actions-button product-card__actions-button_favorite js-item-card-toggle">
                <svg width="24" height="24">
                  <use xlink:href="assets/img/sprite.svg#icon-star-trnsp"></use>
                </svg>
              </button>
            </div>
            <button
              class="btn-reset product-card__actions-button product-card__actions-button_matching js-item-card-toggle">
              <svg width="24" height="24">
                <use xlink:href="assets/img/sprite.svg#icon-diagramm"></use>
              </svg>
            </button>
          </div>
          <button class="btn btn_blue btn-reset product-card__btn">Получить КП</button>
          <button class="btn-reset product-card__link">Купить в один клик</button>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="product-card">
          <div class="product-card__actions">
            <button
              class="btn-reset product-card__actions-button product-card__actions-button_favorite js-item-card-toggle">
              <svg width="24" height="24">
                <use xlink:href="assets/img/sprite.svg#icon-star-trnsp"></use>
              </svg>
            </button>
            <button
              class="btn-reset product-card__actions-button product-card__actions-button_matching js-item-card-toggle is-active">
              <svg width="24" height="24">
                <use xlink:href="assets/img/sprite.svg#icon-diagramm"></use>
              </svg>
            </button>
          </div>
          <img src="assets/img/prc-01.png" alt="" class="product-card__img">
          <a href="card.html" class="product-card__caption">Дизельный генератор 100 кВт в контейнере
            АД-200С-Т400-РМ1</a>
          <ul class="product-card__properties-list">
            <li class="product-card__properties-item">
              <p class="product-card__properties-caption">Мощность</p>
              <p class="product-card__properties-dots"></p>
              <a href="#" class="product-card__properties-value">200 кВт</a></li>
            <li class="product-card__properties-item">
              <p class="product-card__properties-caption">Напряжение</p>
              <p class="product-card__properties-dots"></p>
              <a href="#" class="product-card__properties-value">400/230В</a></li>
            <li class="product-card__properties-item">
              <p class="product-card__properties-caption">Расход топлива</p>
              <p class="product-card__properties-dots"></p>
              <a href="#" class="product-card__properties-value">121 л/ч</a></li>
            <li class="product-card__properties-item">
              <p class="product-card__properties-caption">Двигатель</p>
              <p class="product-card__properties-dots"></p>
              <a href="#" class="product-card__properties-value">Baudouin Moteurs
                (Франция-Китай) </a></li>
            <li class="product-card__properties-item">
              <p class="product-card__properties-caption">Модель</p>
              <p class="product-card__properties-dots"></p>
              <a href="#" class="product-card__properties-value">1104C-44TAG55 </a>
            </li>
          </ul>
          <p class="product-card__delivery"></p>
          <div class="product-card__sum">
            <p class="product-card__price">по запросу</p>
            <div class="product-card__request-price">
              <svg width="20" height="20">
                <use xlink:href="assets/img/sprite.svg#icon-check-in-circle"></use>
              </svg>
              <span>Запросить цену</span>
            </div>
          </div>
          <div class="product-card__mobile-bottom">
            <button class="btn btn_blue btn-reset product-card__btn">Получить КП</button>
            <div>
              <button
                class="btn-reset product-card__actions-button product-card__actions-button_favorite js-item-card-toggle">
                <svg width="24" height="24">
                  <use xlink:href="assets/img/sprite.svg#icon-star-trnsp"></use>
                </svg>
              </button>
            </div>
            <button
              class="btn-reset product-card__actions-button product-card__actions-button_matching js-item-card-toggle">
              <svg width="24" height="24">
                <use xlink:href="assets/img/sprite.svg#icon-diagramm"></use>
              </svg>
            </button>
          </div>
          <button class="btn btn_blue btn-reset product-card__btn">Получить КП</button>
          <button class="btn-reset product-card__link">Купить в один клик</button>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="product-card">
          <div class="product-card__actions">
            <button
              class="btn-reset product-card__actions-button product-card__actions-button_favorite js-item-card-toggle is-active">
              <svg width="24" height="24">
                <use xlink:href="assets/img/sprite.svg#icon-star-trnsp"></use>
              </svg>
            </button>
            <button
              class="btn-reset product-card__actions-button product-card__actions-button_matching js-item-card-toggle is-active">
              <svg width="24" height="24">
                <use xlink:href="assets/img/sprite.svg#icon-diagramm"></use>
              </svg>
            </button>
          </div>
          <img src="assets/img/prc-01.png" alt="" class="product-card__img">
          <a href="card.html" class="product-card__caption">Дизельный генератор 100 кВт в контейнере
            АД-200С-Т400-РМ1</a>
          <ul class="product-card__properties-list">
            <li class="product-card__properties-item">
              <p class="product-card__properties-caption">Мощность</p>
              <p class="product-card__properties-dots"></p>
              <a href="#" class="product-card__properties-value">200 кВт</a></li>
            <li class="product-card__properties-item">
              <p class="product-card__properties-caption">Напряжение</p>
              <p class="product-card__properties-dots"></p>
              <a href="#" class="product-card__properties-value">400/230В</a></li>
            <li class="product-card__properties-item">
              <p class="product-card__properties-caption">Расход топлива</p>
              <p class="product-card__properties-dots"></p>
              <a href="#" class="product-card__properties-value">121 л/ч</a></li>
            <li class="product-card__properties-item">
              <p class="product-card__properties-caption">Двигатель</p>
              <p class="product-card__properties-dots"></p>
              <a href="#" class="product-card__properties-value">Baudouin Moteurs
                (Франция-Китай) </a></li>
            <li class="product-card__properties-item">
              <p class="product-card__properties-caption">Модель</p>
              <p class="product-card__properties-dots"></p>
              <a href="#" class="product-card__properties-value">1104C-44TAG55 </a>
            </li>
          </ul>
          <p class="product-card__delivery"></p>
          <div class="product-card__sum">
            <p class="product-card__price">00 000 000 ₽</p>
            <div class="product-card__request-price">
              <svg width="20" height="20">
                <use xlink:href="assets/img/sprite.svg#percent-in-circle"></use>
              </svg>
              <span>Получить <br> скидку</span>
            </div>
          </div>
          <div class="product-card__mobile-bottom">
            <button class="btn btn_blue btn-reset product-card__btn">Получить КП</button>
            <div>
              <button
                class="btn-reset product-card__actions-button product-card__actions-button_favorite js-item-card-toggle">
                <svg width="24" height="24">
                  <use xlink:href="assets/img/sprite.svg#icon-star-trnsp"></use>
                </svg>
              </button>
            </div>
            <button
              class="btn-reset product-card__actions-button product-card__actions-button_matching js-item-card-toggle">
              <svg width="24" height="24">
                <use xlink:href="assets/img/sprite.svg#icon-diagramm"></use>
              </svg>
            </button>
          </div>
          <button class="btn btn_blue btn-reset product-card__btn">Получить КП</button>
          <button class="btn-reset product-card__link">Купить в один клик</button>
        </div>
      </div>
    </div>
  </div>
</div>
