<section class="section service">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="title-h2 service__title">Наши услуги</h2>
      </div>
    </div>
    <div class="row row-gap">
      <div class="col-lg-4 col-sm-6">
        <div class="service__item">
          <p class="service__caption">Доставка</p>
          <p class="service__description">Осуществляем монтажные работы по установке электрстанций различных инсполнений
            на объектах</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="service__item">
          <p class="service__caption">Монтаж</p>
          <p class="service__description">Осуществляем монтажные работы по установке электрстанций различных инсполнений
            на объектах</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="service__item">
          <p class="service__caption">Подключение</p>
          <p class="service__description">Грамотное подключение
            электростанций к существующей сети
            объекта</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="service__item">
          <p class="service__caption">Диагностика</p>
          <p class="service__description">Доставляем оборудование до места экплуатации по России, Казахстану, Белоруссии
            и другим странам</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="service__item">
          <p class="service__caption">Техобслуживание</p>
          <p class="service__description">Сервисная служба проводит технические обслуживания электростанций любых
            производителей</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="service__item">
          <p class="service__caption">Ремонт</p>
          <p class="service__description">Комплексный ремонт любой сложности электростанций зарубежных и российских
            производителей</p>
        </div>
      </div>
    </div>
  </div>
</section>
