<section class="section specialist">
  <div class="container">
    <div class="row">
      <div class="col-12"><h2 class="title-h2">Контакты специалистов</h2></div>
    </div>
    <div class="row">
<!--      Практически полностью блок переверстался. Он дублируется на нескольких старницах - поменялся везде там где спецов два. там где один(например в доставке - он остался как раньше)-->
      <div class="col-md-6">
        <div class="specialist__item">
          <button class="js-open-specialist collapsed btn-reset specialist__question specialist__open" data-toggle="collapse"
                  data-target="#spec-01">
            <span>По техническим вопросам</span>
            <svg width="24" height="24">
              <use xlink:href="assets/img/sprite.svg#icon-arrow-bottom-blue"></use>
            </svg>
          </button>
          <div class="js-specialist-collapse collapse show" id="spec-01">
            <div class="specialist__heading">
              <p class="specialist__question">По техническим <br>вопросам</p>
              <p class="specialist__contacts  specialist__contacts_phone">8 (800) 900-70-70
                <span>Бесплатно по России</span>
              </p>
              <p class="specialist__contacts  specialist__contacts_phone">info@dizel-generator.ru
                <a href="">Отправить письмо</a>
              </p>
            </div>
            <div class="specialist__flex">
              <img src="/assets/img/spc-01.png" alt="" class="specialist__photo">
              <div class="specialist__description">
                <p class="specialist__status">Руководитель проектов</p>
                <p class="specialist__name">Мария Александровна Иванова</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="specialist__item">
          <button class="js-open-specialist collapsed btn-reset specialist__question specialist__open" data-toggle="collapse"
                  data-target="#spec-02">
            <span>По техническим вопросам</span>
            <svg width="24" height="24">
              <use xlink:href="assets/img/sprite.svg#icon-arrow-bottom-blue"></use>
            </svg>
          </button>
          <div class="js-specialist-collapse collapse show" id="spec-02">
            <div class="specialist__heading">
              <p class="specialist__question">По коммерческим <br> вопросам</p>
              <p class="specialist__contacts  specialist__contacts_phone">8 (800) 900-70-70
                <span>Бесплатно по России</span>
              </p>
              <p class="specialist__contacts  specialist__contacts_phone">info@dizel-generator.ru
                <a href="">Отправить письмо</a>
              </p>
            </div>
            <div class="specialist__flex">
              <img src="/assets/img/spc-02.png" alt="" class="specialist__photo">
              <div class="specialist__description">
                <p class="specialist__status">Руководитель проектов</p>
                <p class="specialist__name">Мария Александровна Иванова</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--      Практически полностью блок переверстался END-->
    </div>
  </div>

</section>
