.footer {
  padding: 60px 0 17px;
  border-top: 1px solid $grey-2;
  &__top {
    margin-bottom: 75px;
  }
  &__logo  {
    display: block;
  }
  &__caption {
    display: block;
    margin-bottom: 15px;
    font-weight: 500;
    transition: color $trns;
    &:hover {
      color: $grey-4;
    }
  }
  &__navs {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 50px;
    @include r(960) {
      gap: 20px 0;
      justify-content: space-between;
    }
  }
  &__navs-item {
    @include r(960) {
    flex: 0 0 50%;
    }
  }
  &__nav {
    display: flex;
    flex-direction: column;
    gap: 15px 0;
  }
  &__nav-item {
    font-size: 15px;
    color: $grey-5;
    transition: color $trns;
    &:hover {
      color: $grey-4;
    }
  }
  &__social {
    margin-bottom: 20px;
    @include r(960) {
      justify-content: flex-start;
    }
  }
  &__info {
    margin-bottom: 23px;
    font-size: 12px;
    color: $grey-4;
  }
  &__link {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.2;
    color: $grey-4;
    transition: color $trns;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      color: $blueHover;
    }
  }
  &__copy {
    font-size: 14px;
    line-height: 1.2;
    color: $grey-4;
    @include r(960) {
      display: block;
      padding-top: 10px;
      border-top: 1px solid $grey-2-5;
      text-align: center;
      margin-bottom: 15px;
    }
  }
  &__dev {
    display: block;
    text-align: right;
    font-size: 14px;
    line-height: 1.2;
    color: $grey-4;
    @include r(960) {
      text-align: center;
    }
    a {
      text-transform: uppercase;
      color: $blue;
      transition: color $trns;
      &:hover {
        color: $blueHover;
      }
    }
  }
}
